.disk-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto -0.25rem auto;

    .disk {
        margin: 0 0.25rem 0.25rem 0;
        padding: 0.5rem;
        background: $white;
        border-size: 2px;
        border-style: solid;
        border-color: $border-gray;

        &.free, &.disk-deleting {
            background: transparent;
            border: 0.2rem dashed $border-gray !important;
        }

        h4 {
            small {
                color: $light-black;
                font-size: 0.8rem;
            }
        }

        p {
            color: $light-black;
            margin: 0;
        }

        button {
            margin-top: 0.25rem;
        }
    }
}
