.linode {
    padding: 1rem;

    h4 {
        font-size: 14pt;
        margin-bottom: 0.5rem;
    }

    ul {
        font-size: 10pt;
    }

    .btn-default {
        background-color: transparent;
        margin-bottom: .5rem;
    }

    .status {
        $size: 0.75rem;
        $tooltip: rgba(0,0,0,0.75);

        width: $size;
        height: $size;
        display: inline-block;
        border-radius: $size / 2;
        box-shadow: 0 0 1px 1px #444;
        margin-right: 0.5rem;
        position: relative;

        &:hover {
            &::after, &::before {
                opacity: 1;
                visibility: visible;
            }
        }

        &::after {
            content: attr(title);
            position: absolute;
            left: $size;
            top: -($size * 0.35);
            margin-left: 0.5rem;
            background: $tooltip;
            color: white;
            padding: 0.25rem 0.5rem;
            font-size: 10pt;
            border-radius: 3px;
            display: block;
            opacity: 0;
            transition: opacity 0.25s linear;
            visibility: collapse;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: ($size * 0.5) solid transparent;
            border-right: 0.5rem solid $tooltip;
            border-bottom: ($size * 0.5) solid transparent;
            left: $size;
            top: ($size / 10);
            display: block;
            opacity: 0;
            transition: opacity 0.25s linear;
            visibility: collapse;
        }
        
        &.running {
            background-color: lighten($brand-success, 10);
        }

        &.being_created {
            background-color: lightgrey;
        }

        &.brand_new {
            background-color: lighten($brand-info, 10);
        }
    }
}
