@import "base";
//$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts";
//@import "bower_components/font-awesome/scss/font-awesome";

$linode-blue: #4A90E2;
$linode-dark-blue: darken($linode-blue, 10%);
$linode-green: #38D377;
$linode-red: #F24C2B;
$linode-yellow: #FFFCF0;
$linode-black: #4B4B4B;
$linode-light-black: #666666;
$linode-lightest-black: #ACACAC;
$linode-dark-gray: #CCCCCC;
$linode-gray: #F3F3F3;
$linode-light-gray: #FBFBFB;
$linode-white: #FEFEFE;
$linode-transparent: rgba(0, 0, 0, 0.5);

$border-gray: $linode-dark-gray;
$linode-border: 1px solid $border-gray;
$box-shadow: 0px 2px 4px 0px $linode-transparent;

$main-padding-tb: 1rem;
$main-padding-lr: 2rem;

$sidebar-width: 200px;
$nav-height: 84px;
$info-nav-height: 25px;
$main-nav-height: calc(#{$nav-height} - #{$info-nav-height});

$input-height: 30px;
$input-padding: 0 .5rem;
$font-size: .9rem;

@import 'components/card';
@import 'components/modal';
@import 'components/distro';
@import 'linodes/linodes';
@import 'layout/linode-details';
@import 'layout/linodes';

@font-face {
    font-family: Heebo;
    src: url('/assets/fonts/heebo/Heebo-Regular.ttf') format('truetype');
}

* {
    transition: background .35s, color .2s, border .1s;
}

body {
    background: $linode-gray;
    height: 100%;
    min-width: 1007px; /* can fix later */
    color: $linode-black;
    margin-top: $nav-height;
    font-family: "Heebo", sans-serif;
    font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: normal;
}

h1 {
    font-size: 1.8rem;
}

h2 {
   font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    color: $linode-blue;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $linode-dark-blue;
    }
}

.selected {
    background: $linode-yellow;
}

.fa {
    color: #bfbfbf;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header-info nav {
    padding: 0 $main-padding-lr;
    height: $info-nav-height;
    background: $linode-black;
    font-size: .75rem;
    line-height: $info-nav-height;

    .new {
        color: $linode-black;
        text-transform: uppercase;
        background: $linode-white;
        padding: 1px 4px;
        font-size: .6rem;
    }

    a, .fa {
        color: $linode-white;
        text-decoration: none;
        padding-left: 10px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.header-main {
    position: relative;
    top: -1px; /* Deal with 1px element created by .header-info clearfix :after */
}

.header-main nav {
    height: $main-nav-height;
    padding: 0 30px;
    margin: 0 !important;

    &.navbar-default {
        background: #333;
        border: 0;
        border-radius: 0;
        padding: 0 $main-padding-lr;
    }

    .navbar-header {
        width: 100%;
        float: none;
        height: $main-nav-height;
    }

    .navbar-linode {
        display: inline-block;
        margin-right: 30px;
        position: relative;
        top: -25px;
    }

    .navbar-search {
        display: inline-block;
        position: relative;
        margin-right: 30px;
        top: -25px;

        input {
            width: 300px;
            border: 0;
            padding: 15px;
            height: 30px;
        }

        input:focus {
            border: 0;
            outline: 0;
        }
    }

    a {
        color: $linode-white;
        line-height: $main-nav-height;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: $linode-gray;
        text-decoration: none;
    }

    .navbar-collapse {
        &.navbar-collapse {
            display: inline-block !important;
            padding: 0;

            a {
                padding: 0 15px 0 0;
            }
        }
    }

    .navbar-session {
        display: inline-block;
        line-height: $main-nav-height;

        .nav-notifications {
            background: $linode-green;
            padding: 3px 6px;
            color: $linode-white;
            font-size: 10px;
            margin-right: 15px;
        }

        a {
            padding-right: 15px;
        }

        a:last-of-type {
            padding-right: 0;
        }
    }
}

.sidebar {
    position: fixed;
    top: $nav-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    background: $linode-white;
    border-right: $linode-border;
    text-align: center;

    a {
        color: $linode-black;
        text-decoration: none !important;
    }

    .fa {
        width: 15px;
        color: #777;
    }

    ul {
        display: inline-block;
        text-align: left;

        li.active,
        li:hover,
        li:active,
        li:focus {
            a,
            .fa {
                color: $linode-green;
            }
        }

        li {
            padding-top: 30px;
        }

        li span:last-of-type {
            padding-left: 15px;
        }
    }
}

.main {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: $main-padding-tb $main-padding-lr;

    div, span {
        color: $linode-light-black;
    }
}

.form-control {
    font-size: $font-size;
    border-radius: 2px;
}

input, .btn {
    height: $input-height;
    line-height: $input-height;
    font-size: $font-size;
    padding: $input-padding;
}

.input-group {
    input {
        margin: 0;
        border: $linode-border;
        border-radius: 0;
        &[readonly] {
            background-color: $linode-white;
            width: 12.5rem;
        }
    }

    .input-group-btn {
        float: left;
        .btn {
            z-index: initial;
        }
    }

    .btn {
        margin: 0;
    }
}

hr {
    width: 300px;
    margin: 2rem 0;
}

.text-muted {
    font-size: 12px;
}

.btn {
    text-decoration: none;
    border-radius: 0;
    border: $linode-border;
    background: $linode-light-gray;

    &.btn-default {
        color: $linode-black;
    }

    .fa {
        line-height: $input-height;
    }

    &:hover,
    &:active,
    &:focus {
        background: $linode-gray;
        color: $linode-black;
    }

    &.btn-help {
        $size: 24px;
        .fa {
            color: $linode-lightest-black;
            line-height: $size;
        }
        background-color: $linode-gray;
        font-size: $size / 2;
        line-height: $size - 2px;
        padding: 0;
        margin: 0 1rem;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        font-weight: bold;
        text-indent: -0.5px;

        &:hover {
            background-color: $linode-blue;
            border: $linode-blue;

            .fa {
                color: $linode-white;
                line-height: $size + 2px;
            }
        }

        h1 &, h2 &, h3 & {
            margin-top: -0.25rem;
        }
    }

    &.btn-primary {
        background: $linode-blue;
        border: 1px solid $linode-blue;

        &:hover,
        &:active,
        &:focus {
            color: white;
        }

        &:not([disabled]):hover,
        &:not([disabled]):active,
        &:not([disabled]):focus {
            background: white;
            color: $linode-blue;
        }
    }

    &.btn-danger {
        background: $linode-red;
        border: 1px solid $linode-red;
    }

    &.btn-danger-outline {
        border-color: $linode-red;
        background: transparent;
        color: $linode-red;

        &:hover,
        &:active,
        &:focus {
            background: $linode-red;
            color: white;
        }
    }
}

input[type=checkbox] {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
}

.input-group-addon {
    background: $linode-light-gray;
    height: $input-height;
    line-height: calc(#{$input-height}-2px});
    padding: $input-padding;

    input[type=checkbox] {
        position: relative;
        top: 1px;
    }
}

.dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: -1px;
    margin-left: 1px;

    &.dropdown-menu-right {
        left: initial;
        right: 0;
        margin-right: -1px;
    }

    .dropdown-item:first-of-type {
        margin-left: -1px;
    }

    .dropdown-item:not(:first-of-type) {
        border-top: 0;
    }
}

.grid-list {
    span {
        padding-right: 5px;
    }

    span:last-of-type {
        padding-right: 0;
    }
}

.navicon {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    top: 2px;

    &:hover,
    &:active,
    &:focus {
        color: $linode-blue;
    }
}

.text-danger {
    color: $linode-red;
}

.centered {
    text-align: center;
}

@-moz-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@-o-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@-webkit-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}
