@import 'variables';
@import 'mixins';

@import 'bootstrap';

@import 'components/index.scss';
@import 'linodes/index.scss';
@import 'layout/index.scss';
@import 'styleguide/index.scss';

html,
body,
#root,
#root > [data-reactroot],
.layout {
    height: 100%;
}

body {
    background: $light-gray;
    color: $black;
    font-size: $font-normal;
}

.layout {
    // TODO: min-width considerations:
    // * linode cards need > 700px;
    // * linode rows need > 1150px;
    // * linode page needs > 980px
    min-width: 1150px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: normal;
    color: $black;
}

h1 {
    font-size: $font-large;
}

h2 {
   font-size: $font-medium;
}

h3 {
    font-size: $font-small;
}

a {
    color: $blue;
    text-decoration: none;
}

a > i.fa {
    color: $blue;
}

label {
    margin-bottom: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .card {
        height: 100%;
    }
}

.selected {
    background: $light-blue;
}

.fa {
    color: #bfbfbf;
}

// TODO: BEMify
.sidebar {
    position: fixed;
    top: $nav-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    background: $white;
    border-right: $border;
    overflow-y: scroll;
    padding-bottom: 15px;

    & section:first-of-type {
        margin-top: 0;

        header h3 {
            border-top: 0;
        }
    }

    header {
        h3 {
            text-transform: uppercase;
            background-color: $gray;
            border-bottom: $border;
            border-top: $border;
            border-color: $border-gray;
            font-size: $font-xs-small;
            color: #777;
            padding: 10px 0;
            padding-left: 34px;
        }
    }

    a {
        color: $black;
        text-decoration: none !important;
        line-height: 34px;
    }

    .fa {
        width: 15px;
        color: #acacac;
    }

    ul {
        text-align: left;

        li {
            margin-top: 15px;
            padding-left: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 0;

            &.active,
            &:hover,
            &:active,
            &:focus {
                background-color: $green;
                color: white;

                .fa {
                    color: white;
                }
            }

            span:last-of-type {
                padding-left: 15px;
            }
        }
    }
}


.main {
    display: flex;
    flex-direction: column;
    margin-left: $sidebar-width;
    min-height: 100%;
    padding-top: $nav-height;
    width: calc(100% - #{$sidebar-width});
}

.main .main-inner {
    flex: 1;
}

.main-header {
    background: $white;
    padding: $main-padding-tb 0;
}

// Deals with the fact that tablist extends container which gives it a max-width
.main-header-fix {
    height: 35px;
    width: 100%;
    background: $white;
    border-bottom: $border;
    margin-bottom: -37px;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
select.form-control,
.btn:not(.btn-help) {
    height: $input-height !important;
    line-height: $input-height - 1px !important;
    font-size: $font-normal !important;
    padding: 0 0 0 $input-padding;

    &.btn {
        padding: 0 $input-padding;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    position: relative;
}

section,
section.card {
    margin-top: $main-padding-tb;
}

// TODO: remove or replace with specific instance (i.e. for the checkbox + action menu)
.input-group {
    input {
        margin: 0;
        border: $border;
        border-radius: 0;
        &[readonly] {
            background-color: $white;
            width: 12.5rem;
        }
    }

    .input-group-btn {
        float: left;
        .btn {
            z-index: initial;
        }
    }

    .btn {
        margin: 0;
    }
}

hr {
    width: 300px;
    margin: $main-padding-tb/2 0;
}

.datacenter-style img {
    margin-right: 15px;
    -webkit-filter: contrast(70%) saturate(90%);
    filter: contrast(70%) saturate(90%);
    opacity: 0.7;
}

.distro-style img {
    margin-right: 15px;
}

// TODO: drop after moving to input components
input[type=checkbox], input[type=radio] {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;

    + span {
        padding: 0 5px;
    }
}

// TODO: drop after moving to input components
.input-group-addon {
    background: $light-gray;
    height: $input-height;
    line-height: calc(#{$input-height}-2px);
    padding: 0 $input-padding;
    border-radius: 0;

    input[type=checkbox] {
        position: relative;
        top: 1px;
    }
}

// TODO: please drop
:not(.btn-group) .btn.float-xs-right + .btn.float-xs-right,
.btn.float-xs-right + label.float-xs-right {
    display: inline-block;
    margin-right: 15px;
}

// TODO: please drop
:not(.btn-group) .btn.float-xs-left + .btn.float-xs-left,
.btn.float-xs-left + label.float-xs-left {
    display: inline-block;
    margin-left: 15px;
}

// TODO: BEMify
.dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: -1px;
    margin-left: 1px;

    .dropdown-item:first-of-type {
        margin-left: -1px;
    }

    .dropdown-item:not(:first-of-type) {
        border-top: 0;
    }
}

// TODO: look into
.grid-list {
    a .fa {
        color: $lightest-black;
        cursor: pointer;
        cursor: hand;
    }

    .fa {
        font-size: $font-small;
        color: $light-black;
    }

    span, div {
        padding-right: 15px;
        line-height: $input-height;
        display: inline-block;
    }

    div {
        position: relative;
        top: -3px;
    }

    span:last-of-type {
        padding-right: 0;
    }
}

.navicon {
    font-size: $font-small;
    padding-left: 15px;
    position: relative;
    top: 2px;

    &:hover,
    &:active,
    &:focus {
        color: $blue;
    }
}

// TODO: make component and BEM-ify
table {
    width: 100%;

    th:first-of-type,
    td:first-of-type {
        padding-left: 15px;
    }

    th:last-of-type,
    td:last-of-type {
        padding-right: 15px;
    }

    td:not(:first-of-type) {
        white-space: nowrap;
    }

    thead {
        background: $light-gray;
        border: $border;
        border-bottom: 0;
        height: 35px;
        line-height: 35px;

        th {
            font-weight: normal;
        }

        th:last-of-type {
            border-right: $border;
        }

        &.clear-thead {
            background-color: transparent;
            border: 0;
            th {
                border: 0;
                border-top: 0;
                border-bottom: 0;
                padding-bottom: 0.1rem;
                padding-top: 0;
            }
            th:last-of-type {
                border-right: 0;
            }
        }
    }

    tbody {
        tr {
            height: 35px;
            line-height: 35px;
            border: $border;
            margin: 0 15px;
            
            &:not(.selected) {
                background: $white;
            }
        }
        &.hard-border {
            tr {
                background: $light-gray;

                td {
                    border: 0;
                    padding: 0 15px;
                    line-height: 35px;
                }
            }
        }
    }
}

.text-danger {
    color: $red;
}

// TODO: prettify
.alert {
    &.alert-info {
        background: $yellow;
        border-color: $dark-gray;
        color: $light-black;
    }
}

footer {
    padding-bottom: 15px;

    a {
        font-size: $font-xs-normal;
        color: $lightest-black;
        padding: 0 10px;
    }
}

.error {
    h1 {
        font-size: 8rem; /* Special font-size case */
        color: $dark-gray;
    }

    h2 {
        font-size: $font-large;
    }

    p {
        margin: 1rem;
    }
}

.linodes {
    .linode-label {
        color: $black !important;
        font-size: $font-small;

        & + .text-muted {
            line-height: 15px;
        }
    }

    .card {
        margin-bottom: $main-padding-tb;

        header {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        header input[type="checkbox"] {
            margin-top: 8px;
        }

        header > * {
            vertical-align: top;
        }
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
    }

    .linode .StatusDropdown {
        @extend .float-xs-right;
    }

    td.linode-checkbox {
        padding: 0 15px;
        width: 46px;
    }

    td.linode-checkbox > input:hover {
        cursor: pointer;
    }

    .ips {
        line-height: initial;
    }

    .display-group {
        color: $light-black;
        margin-bottom: $main-padding-tb/3;
    }

    tr.display-group {
        border: 0;
        font-size: $font-small;

        td {
            background: $light-gray;
            padding-bottom: 0;
            padding-left: 0;
        }
    }
}

.sub-header {
    color: $light-black;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .sub-header {
    padding-bottom: 0px;
}

.list-unstyled {
    margin-bottom: 0;
}

p {
    margin-bottom: $main-padding-tb/2;
}

.feedback {
    position: fixed;
    right: -400px;
    top: 300px;
    z-index: 999;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;

    &.open {
        right: 0;
    }

    .feedback-button {
        $rotation: -90deg;
        position: absolute;
        left: -1 * $input-height * 2 + 4px;
        top: 50%;
        -webkit-transform: rotate($rotation);
        -moz-transform: rotate($rotation);
        -o-transform: rotate($rotation);
        -ms-transform: rotate($rotation);
        transform: rotate($rotation);
    }

    .card {
        width: 400px;
    }
}

// TODO: remove after converting to checkbox
.checkbox + .checkbox {
    margin-top: 5px;
}

.row-justify {
    @extend .row;
    display: flex;
    flex-wrap: wrap;

    margin-left: -$grid-gutter-width-base / 4;
    margin-right: -$grid-gutter-width-base / 4;

    & > [class^="col-"] {
        padding-left: $grid-gutter-width-base / 4;
        padding-right: $grid-gutter-width-base / 4;
    }
}

a:hover, a:focus, a:active {
    color: $blue;
}

.dropdown-toggle::after {
    display: none;
}
