@import "bootstrap";
//$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts";
//@import "bower_components/font-awesome/scss/font-awesome";
@import "../node_modules/rc-slider/assets/index.css";

$light-blue: #DEEFF5;
$blue: #4A90E2;
$dark-blue: darken($blue, 10%);
$green: #38D377;
$red: #F24C2B;
$yellow: #FFFCF0;
$dark-yellow: darken($yellow, 20);
$darkest-yellow: darken($yellow, 40);
$black: #4B4B4B;
$light-black: #666666;
$lightest-black: #ACACAC;
$dark-gray: #CCCCCC;
$gray: #F3F3F3;
$light-gray: #FBFBFB;
$white: #FEFEFE;
$transparent: rgba(0, 0, 0, 0.5);

$border-gray: $dark-gray;
$border: 1px solid $border-gray;
$box-shadow: 0px 2px 4px 0px $transparent;

$main-padding-tb: 1rem;
$main-padding-lr: 2rem;

$sidebar-width: 200px;
$nav-height: 84px;
$info-nav-height: 25px;
$main-nav-height: $nav-height - $info-nav-height;

$input-height: 30px;
$input-padding: 0 .5rem;
$font-size: .9rem;
$font-size-small: 12px;

@import 'components/components';
@import 'linodes/linodes';
@import 'layout/linode-details';
@import 'layout/linodes';

.btn, a {
    transition: background .35s, color .2s, border .1s;
}

html, #root > [data-reactroot] {
    height: 100%;
}

body {
    height: calc(100% - #{$nav-height});
    background: $gray;
    min-width: 1007px; /* can fix later */
    color: $black;
    margin-top: $nav-height;
    font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: normal;
    color: $black;
}

h1 {
    font-size: 1.8rem;
}

h2 {
   font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $dark-blue;
    }
}

.pull-right {
    float: right;
}

.selected {
    background: $light-blue;
}

.fa {
    color: #bfbfbf;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header-info nav {
    padding: 0 $main-padding-lr;
    height: $info-nav-height;
    background: $black;
    font-size: .75rem;
    line-height: $info-nav-height;

    .new {
        color: $black;
        text-transform: uppercase;
        background: $white;
        padding: 1px 4px;
        font-size: .6rem;
    }

    a, .fa {
        color: $white;
        text-decoration: none;
        padding-left: 10px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.header-main {
    position: relative;
    top: -1px; /* Deal with 1px element created by .header-info clearfix :after */
}

.header-main nav {
    $margin-lr: 30px;
    height: $main-nav-height;
    padding: 0 $margin-lr;
    margin: 0 !important;

    &.navbar-default {
        background: #333;
        border: 0;
        border-radius: 0;
        padding: 0 $main-padding-lr;
    }

    .navbar-header {
        width: 100%;
        float: none;
        height: $main-nav-height;
    }

    .nav-item {
        float: left;
        line-height: $main-nav-height;
        margin-right: $margin-lr;
        margin-left: 0 !important; /* override bootstrap styles */
    }

    .navbar-search {
        $margin-tb: ($main-nav-height - $input-height) / 2;
        height: $input-height;
        margin: $margin-tb $margin-lr $margin-tb 0;

        input {
            width: 300px;
            border: 0;
        }

        input:focus {
            border: 0;
            outline: 0;
        }
    }

    a {
        color: $white;
        line-height: $main-nav-height;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:focus {
        color: $dark-gray;
        text-decoration: none;
    }

    .navbar-collapse {
        &.navbar-collapse {
            display: inline-block !important;
            padding: 0;

            a {
                padding: 0 15px 0 0;
            }
        }
    }

    .navbar-session {
        display: inline-block;
        line-height: $main-nav-height;

        .nav-user {
            padding-right: $margin-lr;
        }

        .nav-gravatar {
            display: inline-block;
            position: relative;

            .nav-gravatar-badge {
                $height: 20px;
                position: absolute;
                top: $height / 4;
                right: -1 * ($height / 2);
                font-size: $font-size-small;
                background: $red;
                color: $white;
                width: $height;
                height: $height;
                line-height: $height;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: $nav-height;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    background: $white;
    border-right: $border;

    a {
        color: $black;
        text-decoration: none !important;
        line-height: 34px;
    }

    .fa {
        width: 15px;
        color: #777;
    }

    ul {
        text-align: left;

        li {
            margin-top: 20px;
            padding-left: 34px;
            height: 34px;
            border-top: $border;
            border-bottom: $border;
            border-color: transparent;

            &.active,
            &:hover,
            &:active,
            &:focus {
                background-color: $gray;
                border-color: $border-gray;
            }

            span:last-of-type {
                padding-left: 15px;
            }
        }
    }
}

.main {
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: $main-padding-tb $main-padding-lr 0 $main-padding-lr;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .container-inner {
        flex: 1;
    }
}

.form-control {
    font-size: $font-size;
    border-radius: 2px;
    height: 30px !important;
    line-height: 30px;

    &textarea {
        line-height: 12px;
    }
}

input, .btn {
    height: $input-height;
    line-height: $input-height;
    font-size: $font-size;
    padding: 0 $input-padding;

    &.btn {
        padding: $input-padding;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    position: relative;
}

.input-group {
    input {
        margin: 0;
        border: $border;
        border-radius: 0;
        &[readonly] {
            background-color: $white;
            width: 12.5rem;
        }
    }

    .input-group-btn {
        float: left;
        .btn {
            z-index: initial;
        }
    }

    .btn {
        margin: 0;
    }
}

hr {
    width: 300px;
    margin: 2rem 0;
}

.text-muted {
    font-size: $font-size-small;
}

.btn {
    text-decoration: none;
    border-radius: 0;
    border: $border;
    background: $light-gray;

    &.btn-default {
        color: $black;
    }

    .fa {
        line-height: $input-height;
    }

    &:hover,
    &:active,
    &:focus {
        background: $gray;
        color: $black;
    }

    &.btn-help, &.btn-warning {
        $size: 24px;
        .fa {
            color: $lightest-black;
            line-height: $size - 2px;
        }
        background-color: $gray;
        font-size: $size / 2;
        line-height: $size - 2px;
        padding: 0 0 0 0.1rem;
        margin: 0 1rem;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        font-weight: bold;
        text-indent: -1px;

        &:hover {
            background-color: $blue;
            border: $blue;

            .fa {
                color: $white;
                line-height: $size + 2px;
            }
        }

        h1 &, h2 &, h3 & {
            margin-top: -0.25rem;
        }
    }

    &.btn-warning {
        .fa {
            color: $white;
        }
        background-color: $red;
        border-color: $red;
        text-indent: -0.5px;

        &:hover {
            background-color: $white;
            border: $white;

            .fa {
                color: $red;
            }
        }
    }

    &.btn-primary {
        background: $blue;
        border: 1px solid $blue;

        &:hover,
        &:active,
        &:focus {
            color: white;
        }

        &:not([disabled]):hover,
        &:not([disabled]):active,
        &:not([disabled]):focus {
            background: white;
            color: $blue;
        }
    }

    &.btn-primary-outline {
        background: white;
        border: 1px solid $blue;
        color: $blue;

        &:not([disabled]):hover,
        &:not([disabled]):active,
        &:not([disabled]):focus {
            background: $blue;
            color: white;
        }
    }

    &.btn-danger {
        background: $red;
        border: 1px solid $red;
    }

    &.btn-danger-outline {
        border-color: $red;
        background: transparent;
        color: $red;

        &:hover,
        &:active,
        &:focus {
            background: $red;
            color: white;
        }
    }
}

.datacenter-style img {
    margin-left: 0.5rem;
    -webkit-filter: contrast(70%) saturate(90%);
    filter: contrast(70%) saturate(90%);
    opacity: 0.7;
}

input[type=checkbox], input[type=radio] {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;

    + span {
        padding: 0 5px;
    }
}

.input-group-addon {
    background: $light-gray;
    height: $input-height;
    line-height: calc(#{$input-height}-2px});
    padding: $input-padding;

    input[type=checkbox] {
        position: relative;
        top: 1px;
    }
}

.dropdown-menu {
    padding: 0;
    border: 0;
    margin-top: -1px;
    margin-left: 1px;

    &.dropdown-menu-right {
        left: initial;
        right: 0;
        margin-right: -1px;
    }

    .dropdown-item:first-of-type {
        margin-left: -1px;
    }

    .dropdown-item:not(:first-of-type) {
        border-top: 0;
    }
}

.grid-list {
    span {
        padding-right: 5px;
    }

    span:last-of-type {
        padding-right: 0;
    }
}

.navicon {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    top: 2px;

    &:hover,
    &:active,
    &:focus {
        color: $blue;
    }
}

table {
    width: 100%;

    td:first-of-type {
        padding-left: 15px;
    }

    td:last-of-type {
        padding-right: 15px;
    }

    td:not(:first-of-type) {
        overflow: hidden;
        word-wrap: nowrap;
    }

    thead {
        background: $light-gray;
        border: $border;
        border-bottom: 0;
        height: 35px;
        line-height: 35px;

        th {
            font-weight: normal;
        }

        th:last-of-type {
            border-right: $border;
        }

        &.clear-thead {
            background-color: transparent;
            border: 0;
            th {
                border: 0;
                border-top: 0;
                border-bottom: 0;
                padding-bottom: 0.1rem;
                padding-top: 0;
            }
            th:last-of-type {
                border-right: 0;
            }
        }
    }

    tbody {
        tr {
            height: 35px;
            line-height: 35px;
            border: $border;
            margin: 0 15px;
            
            &:not(.selected) {
                background: $white;
            }
        }
        &.hard-border {
            tr {
                background: $light-gray;

                td {
                    border: 0;
                    padding: 0 15px;
                    line-height: 35px;
                }
            }
        }
    }
}

.linodes {
    margin-top: 1rem;
    h2 {
        margin-bottom: 0.5rem;
    }
}

.row:last-of-type > .content-col {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: .75rem;
}

.label-col {
    color: #333;
}

.content-col {
    color: #666;

    li a {
        text-decoration: none;
    }

    img {
        margin-left: 0.5rem;
    }

    p.text-muted {
        margin-bottom: 0;
    }
}

.text-danger {
    color: $red;
}

.alert {
    &.alert-info {
        background: $yellow;
        border-color: $dark-gray;
        color: $light-black;
    }
}

.action-link {
    color: $lightest-black;
    &:hover {
        color: $dark-blue;
    }
}

.full-height {
    height: 100%;
}

footer {
    margin-bottom: 0.75rem;

    span {
        padding: 0 10px;
    }

    .developers {
        padding: 2px 5px;
        border: $border;
        border-radius: 3px;
    }
}

.rc-slider {
    margin-bottom: 2rem;
}

.rc-tooltip {
    z-index: 999999;
}

.error {
    h1 {
        font-size: 8rem;
        color: $dark-gray;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        margin: 1rem;
    }
}

.col-form-label {
    padding-top: 0.25rem;
}

.col-form-legend {
    padding-top: 0.25rem;
    font-size: 0.9rem;
}

.align-slider {
    padding-top: 0.75rem;

    .rc-slider {
        margin-bottom: 0;
    }
}

@-moz-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@-o-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@-webkit-keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}

@keyframes pulse {
    0% {opacity: 1.0;}
    75% {opacity: 0.4;}
    95% {opacity: 0.75;}
}
