/* BEGIN Color definitions */
$light-blue: #DEEFF5;
$blue: #4A90E2;
$dark-blue: darken($blue, 10%);

$green: #38D377;
$red: #F24C2B;

$yellow: #FFFCF0;
$dark-yellow: darken($yellow, 20);
$darkest-yellow: darken($yellow, 40);

$light-gray: #FBFBFB;
$gray: #F3F3F3;
$dark-gray: #DDDDDD;
$default-gray: #a6a6a6;

$lightest-black: #ACACAC;
$light-black: #777;
$black: #4b4b4b;
$darkest-black: #111;
$dark-black: #333333;

$white: #FEFEFE;
$transparent: rgba(0, 0, 0, 0.5);

$hover-bg: #3c3c3c;
/* END color definitions */


/* BEGIN layout definitions */

$main-padding-tb: 10px;
$main-padding-lr: 20px;

$nav-height: 84px;
$info-nav-height: 25px;
$main-nav-height: $nav-height - $info-nav-height;
$main-height: calc(100% - #{$nav-height});

$sidebar-width: 220px;

/* END layout definitions */


/* BEGIN generic definitions */

$form-field-height: 32px;
$form-field-padding: 6px 8px;

$border-gray: $dark-gray;
$border: 1px solid $border-gray;
$box-shadow: 0px 2px 4px 0px $transparent;

/* END generic definitions */


/* BEGIN bootstrap overrides */
// TODO: look at items that use this, some may now be calculating sub-pixel margins
$grid-gutter-width-base: 30px;

$grid-breakpoints: (
  xs: 0 + $sidebar-width,
  sm: 576px + $sidebar-width,
  md: 768px + $sidebar-width,
  lg: 992px + $sidebar-width,
  xl: 1200px + $sidebar-width
);

// Basically just sets each max width to 100%
$container-max-widths: (
  sm: map-get($grid-breakpoints, sm) + $sidebar-width - $grid-gutter-width-base / 2,
  md: map-get($grid-breakpoints, md) + $sidebar-width - $grid-gutter-width-base / 2,
  lg: map-get($grid-breakpoints, lg) + $sidebar-width - $grid-gutter-width-base / 2,
  xl: map-get($grid-breakpoints, xl) + $sidebar-width - $grid-gutter-width-base / 2
);

/* END bootstrap overrides */


/* BEGIN z-index definitions */

$preload-z-index: 10000;

/* END z-index definitions */
