/* BEGIN Color definitions */
$light-blue: #DEEFF5;
$blue: #4A90E2;
$dark-blue: darken($blue, 10%);
$green: #38D377;
$red: #F24C2B;
$yellow: #FFFCF0;
$dark-yellow: darken($yellow, 20);
$darkest-yellow: darken($yellow, 40);
$darkest-black: #111;
$dark-black: #333333;
$black: #4b4b4b;
$light-black: #777;
$lightest-black: #ACACAC;
$dark-gray: #DDDDDD;
$gray: #F3F3F3;
$light-gray: #FBFBFB;
$white: #FEFEFE;
$transparent: rgba(0, 0, 0, 0.5);
/* END color definitions */


/* BEGIN layout definitions */

$main-padding-tb: 1rem;
$main-padding-lr: 2rem;

$nav-height: 84px;
$info-nav-height: 25px;
$main-nav-height: $nav-height - $info-nav-height;

$sidebar-width: 220px;

/* END layout definitions */


/* BEGIN font definitions */

$font-large: 1.8rem;
$font-medium: 1.4rem;
$font-small: 1.1rem;
$font-xs-small: 12px;
$font-normal: .975rem;
$font-xs-normal: .9rem;

/* END font definitions */


/* BEGIN generic definitions */

$input-height: 30px;
$input-padding: .5rem;

$border-gray: $dark-gray;
$border: 1px solid $border-gray;
$box-shadow: 0px 2px 4px 0px $transparent;

/* END generic definitions */


/* BEGIN bootstrap overrides */
$grid-gutter-width-base: 15px;

$grid-breakpoints: (
  xs: 0 + $sidebar-width,
  sm: 576px + $sidebar-width,
  md: 768px + $sidebar-width,
  lg: 992px + $sidebar-width,
  xl: 1200px + $sidebar-width
);

/* END bootstrap overrides */


/* BEGIN z-index definitions */

$preload-z-index: 10000;

/* END z-index definitions */
