.FormSummary {
    .alert {
        border: none;
        background: transparent;
        padding: 0;
        margin: 15px 0 0 0;
        min-height: 0;

        &-success {
            @extend .font-xs;
            color: $green;
        }

        &-danger {
            @extend .font-xs;
            color: $red;
        }
    }
}
