.BackupsColumn {
    width: 175px;
}

.IPAddressColumn {
    width: 400px;
}

.RegionColumn {
    width: 175px;
}

.StatusDropdownColumn {
    width: 170px;
}

.PermissionsCheckboxColumn {
    width: 150px;
}

.TicketLabelColumn {
    width: 600px;
}

.TicketIdColumn {
    width: 160px;
}

.IPNavColumn {
    width: 150px;
}
