.BackupsColumn {
    width: 175px;
}

.IPAddressColumn {
    width: 300px;
}

.RegionColumn {
    width: 175px;
}

.StatusDropdownColumn {
    width: 140px;
}

.PermissionsCheckboxColumn {
    width: 150px;
}
