.BackupsColumn {
    width: 175px;
}

// TODO: remove this after combining buttons into a single cell
.ButtonCell.ResetButton {
    padding: 5px 0 5px 15px;
}

.IPAddressColumn {
    width: 300px;
}

.RegionColumn {
    width: 175px;
}