.FieldColumn {
    width: 75px;
}

.EndpointColumn {
    width: 300px;
}

.MethodColumn {
    width: 125px;
}

.OperatorColumn {
    width: 125px;
}

.ParameterColumn {
    width: 125px;
}

.TypeColumn {
    width: 75px;
}

.StatusCodeColumn {
    width: 225px;
}
