.linode-alerts {
    .input-container {
        display: inline-block;
    }

    .checkbox {
        display: inline-block;
    }
    
    input[type=number] {
        width: auto;
        margin-right: 5px;
    }
}
