.ButtonColumn {
    width: 70px;
}

.CheckboxColumn {
    width: 45px;
}

.CheckboxColumn + th:not(.CheckboxColumn),
.CheckboxCell + td:not(.CheckboxCell) {
    padding: 5px 15px 5px 0;
}

.ThumbnailColumn {
    width: 50px;
}

.ThumbnailCell {
    img {
        width: 35px;
        height: 35px;
    }
}

.LabelColumn {
}

.Table--secondary {
    .LabelColumn {
        width: initial;
    }
}

.EmailColumn {
    width: 200px;
}

.DropdownColumn {
    width: 150px;
}

.AddressColumn {
    width: 150px;
}

.NodeBalancerLabelColumn {
    width: 250px;
}

.WeightColumn {
    width: 75px;
}

.ModeColumn {
    width: 100px;
}

.ServiceColumn {
    width: 120px;
}

.PortColumn {
    width: 100px;
}

.TTLColumn {
    width: 120px;
}
