.Table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;

    &--noHeader {
        th, td {
            padding: 0;
        }
    }

    th, td {
        padding: 5px 10px;
    }

    thead, th {
        @extend .font-xs;

        background: transparent;
        border: 0;
        font-weight: normal;
        color: $lightest-black;
        text-transform: uppercase;
    }

    &--secondary {
        .TableRow {
            height: 40px;
        }
    }
}
