{
  "presets": ["stage-0", "react", "es2015"],
  "compact": true,
  "plugins": [
    "transform-runtime",
    ["babel-root-import", [{
        "rootPathSuffix": "src"
    }, {
        "rootPathSuffix": "test",
        "rootPathPrefix": "@",
    }]]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
