{
  "presets": ["stage-0", "react", "es2015", "flow"],
  "compact": "true",
  "plugins": [
    ["transform-runtime",
    {
      "helpers": false,
      "polyfill": false
    }],
    "transform-class-properties",
    ["babel-root-import", [{
      "rootPathSuffix": "src"
    }, {
      "rootPathSuffix": "test",
      "rootPathPrefix": "@",
    }]]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  },
  "only": [
    "src/*.+(js|jsx)",
    "src/**/*.+(js|jsx)",
    "node_modules/react-vnc-display/lib/VncDisplay.js"
  ]
}
