{
  "presets": [
    "react",
    ["es2015", {
      "modules": false
    }],
    "stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["babel-plugin-root-import", [{
      "rootPathSuffix": "src"
    }, {
      "rootPathSuffix": "test",
      "rootPathPrefix": "@",
    }]],
    "transform-class-properties"
  ]
}
