{
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  rules: {
    "babel/generator-star-spacing": 2,
    "babel/new-cap": 2,
    "babel/array-bracket-spacing": 2,
    "babel/object-shorthand": 2,
    "babel/flow-object-type": 2,
    "babel/no-await-in-loop": 0,
    "babel/arrow-parens": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-confusing-arrow": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
    "react/no-multi-comp": 0,
    "react/no-did-mount-set-state": 0,
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "no-shadow": 0,
    "radix": 0,
    "dot-notation": [
      "error", {
        "allowPattern": "^(default|public|private|return)$"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
  }
}
