sudo: required
language: node_js
node_js:
  - 8.11.2

cache: yarn
# services:
  # - docker

before_install: sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev
  build-essential g++ google-chrome-stable curl
install:
- yarn global add lerna
- lerna bootstrap --scope linode-manager
before_script:
- lerna run --stream --scope linode-manager storybook &
script:
- lerna run build --stream --scope linode-manager
- lerna run --stream --scope linode-manager test -- --coverage --maxWorkers=2
- lerna run --stream --scope linode-manager storybook:e2e 
- 'pkill -f selenium-standalone || :'
- pkill -f storybook
env:
  global:
    - secure: hi9s9NL0PppRIWgLxxf465G5lA/vc/4ydpC0tBOSsfAME1xAbDCpDmhTCvIR0cV9bw0ayChExyRquUryGNWvsnksc7qP+JDlpAlYXRww44PS11GdABdF7AvrAjMUbCtOJzoEOuZwZH1RiRYr2p1rUdO7mxmsmcbxlxFeRBBoVt0diG107y1i41Ipw8NQhgYFzkJ/6LktBTDmMfw/K/xLEF8mWc6GrUJiUGpM3v+89w4n9GDD8sHRVs6SGDDoTHb3siIRaFtnMw0HFsb5hBLnW6WwPY/7jvmHctx938Zxma0bTs36Y0MkspsuwsFVqroLCqamnC70GRO9g7yGIX+GTfxvqM2b97J5gWmOFQVLUu8ciapCWUxbangSooiavtJg6AoRKrX2fUNvxd4iz0xiMmEQgXnRX7v9IYbcaUm5yXbKkm7b22UkP2+D6S2be2DGNzzV0BqxCEtKOn43Bp+Yrk6ox7jpDhTu6pYoM41KMNQ4a1h7KykiQaiJAzICwFS3QmU5QPpckSUJS68FOxop0saJVV3rB1s4SUSU/iQnLIy+LuCQRkXpO+lsauY0ccjQiTFlXtOFUNHXoOkMOlWEpSvtew0erA/mdWA31LOgO3ihyVrPbGwCUQ/FQOskWHvJ/kI/SMH3bKLyyoSKVKOwoiIXvt8XMDQ/0dysAuQ5KQk=
    - secure: WE+zKI4u2W7mWb+NaEnu+++6NKinbp0hVwqRm5rBcFBuzw7esj0XbWiCYIZImfGG/p8fOpxTjinqFxmcuntbkyF/05vbnpkIGPB0BkxvtLYCyT+t+UsT1L1v1yZeXDJrmkuLL6jisZ8spmwK3uPlq9DqQHkjUg2jiZwwRx38CNWP0F1JJQW9UeM86+uPjjBzuWIIHhHvI0yJBddrDgCDcLyZ387rp+aUusQmSvDspUS3JkpMuj41mZjhMF9RQ2yEMjjkQmWkQLhPXC9pw1pTG0qxLL34rLkf/f6MzO/h/FN6Eby8MttkXvwZ2g5jtmy8k6kFI/P4jjUx/CaurtLLuQvnqrsaKyRNdo2/K8yVsM+2nd18ChT7xC3Gz0XJcVe1Pe/QKkomgiT9zobFEROGKgarnWZhLZKq/StznMpsjtT8nBgYN14VIH9U8acNZXNWg8ZJq0wSWB7EVSc+YgX6cFxYkMyqMHjs3CHWA3FNqcIXvJgk9MGeb8MUwUsJ4oKaTpoP3F8aoY8ANaEOy+5oLiNgoXIh3jFmLkXfGabI4MvsClZb72onKlJs8WD7VkusgVOrcReD1vkAMv7caaO4TqkMAAuShXiks2oFI5lpHSz0AE1BaI1s6YvwHQFlxbSQJprJd4eeWS9l78mYPJhoLRaWbvf0qIJ29mDSAgAJ7XI=
    - secure: B1EK0eRrAPJw/4UnR6aD24MTriMFJrq46vwTiI3sWw8Rfwf40APgH2/FmghRnWObHZWOkcnc0X1z0X7EHv+YVy7LjcnVsm3EGfBaFBZZ6Wt1+mumvsaZybzTMtcBhX0ZncXpK42+5bsFBQuWFjcY5VPbSadkdr9xY8Rz65yLgcw/bAlNThmgo2O+HDgyyRMeKYwhEYpDC6tbaKSsWmZwqpV5ISea497QGVf6CAAbOa0XZubDkWDDUrQBaH0mGjKCs2wlMltbzNR09rvvX2laCR9tOWRBqvqRFUs0XsaeXyAoWGZ6NPLTkxsHMyiPcDGWcx62Y3piOTGRuP6nq2WM5pDN8mU29GPFhHq8uX+k/zWdsEjFquQAqrTzq4uTaCxypN1HPipt7mhlfMLsFDwJ/+DdOL9klysx3R+CMlfKiKzRiieK4l4HjYGibfYJSkterrWYpw3Bupvqh7WOu6DenR/QjXi+OYQ3Xozw3IzwjChog4e7/vkPOvyiA+hlWILxv3OpSH8PHHUOrp8siTAPW/H6nTMyW4CFAahpuT/eljWYc/9LDg7aruo3dH8QbXlmv90+gIkvbVTD7Yh620H7XtPqQ6zn8WV7YIb4kfkjWA37i5oFQcX78iy9IDD4lO9sYHSe8+Q67fq4bD04RMM2RJAS6OOYaBF1skYeJCblwUk=