language: node_js
node_js:
    - "6"
script:
    - set -e
    - |
        cat <<EOF > src/secrets.js
        export const clientId = 'placeholder';
        export const clientSecret = 'placeholder';
        EOF
    - |
      if [[ $(git diff HEAD^ $(git rev-parse --abbrev-ref HEAD) --name-only | grep -v scss) ]]; then
        npm run lint
        npm test
        cat ./coverage/lcov.info | node ./bin/styleguideTestFilter.js | ./node_modules/.bin/coveralls
      fi
