.PreloadIndicator {
    position: absolute;
    left: 0px;
    width: 0px;
    background-color: $green;
    height: 3px;
    z-index: $preload-z-index;

    &--running {
        // 30s is an upper bound on how long we expect requests to take.
        animation: left-to-right 30s;
        opacity: 1;
        transition: opacity 0 none, width ease;
    }

    &--done {
        opacity: 0;
        width: calc(100%);
        transition: none;
        transition: width 2s ease-out, opacity .5s ease-out .5s;
    }
}

@keyframes left-to-right {
    0% {
        width: 0;
    }

    100% {
        width: calc(95%);
    }
}
