.distro-style img,
.region-style img {
    margin-right: 10px;
    vertical-align: text-bottom;
}

.region-style img {
    -webkit-filter: contrast(70%) saturate(90%);
    filter: contrast(70%) saturate(90%);
    opacity: 0.7;
}
