.Styleguide {

  &-container {
    font-family: 'Helvetica', Arial, sans-serif;
    background: #ffffff;
    min-height: 100%;
  }

  &-header .LinodeLogo {
    height: 60px;
  }

  &-main {
    min-height: 100%;
    padding-top: 80px;
  }

  &-header h1 {
    font-size: 28px;
    color: $gray;
    padding: 14px 0;
  }

  &-header h1 > img {
    padding: 0 10px 0 20px;
  }

  &-container a {
    font-size: 14px;
  }

  &-container a.active {
    color: $black;
    text-decoration: none;
  }

  &-container a:hover {
    cursor: pointer;
  }

  &-container a.Styleguide-back-link {
    position: absolute;
    left: 15px;
    top: 5px;
  }

  &-container .container {
    max-width: 1024px;
  }

  &-content {
    display: flex;
  }
}

.Styleguide-content {
  display: flex;
}

.Styleguide-container .RowLabelCell a {
  @extend .font-large;
}
