.SubTabs {
    @extend .Tabs;

    .Tabs & {
        margin-top: -10px;
    }

    .TabList {
        padding: 0;
        background: transparent;
    }

    .Tab {
        border: none; // reset from above
        border-bottom: 3px solid transparent;

        &[aria-selected="true"] {
            background: transparent;
            border: none;
            border-bottom: 3px solid $blue;
        }
    }

    // general hover state and special cases for before and after active
    .Tab:not(.ReactTabs__Tab--selected):hover,
    .Tab.selected-previous:hover,
    .Tab.ReactTabs__Tab--selected + .Tab:hover {
        background: transparent;
        border: none;
        border-bottom: 3px solid $blue;
    }

    &-container {
        padding: 15px 0 0 0;
    }
}
