$tab-active-border: #bbb;

.Tabs {
    .TabList {
        @extend .container;
        background: $white;
        border-bottom: $border;
        margin: 0 auto;
    }

    .TabList.form-tab-list .Tab {
        padding: 6px 10px;
    }

    .Tab {
        padding: 6px 10px;

        &:not(:last-of-type) {
            margin-right: 0;
        }

        &.ReactTabs__Tab--selected {
            border-color: $tab-active-border;
        }

        &:hover,
        &[aria-selected="true"] {
            background: $background-color;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
        }

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            outline: 0;
            box-shadow: none;

            &::after {
                display: none;
            }
        }

        a {
            color: $black;
            display: block;
            text-decoration: none !important;
        }
    }

    // general hover state
    .Tab:not(.ReactTabs__Tab--selected):hover {
        border: 1px solid $tab-active-border;
        border-bottom: none;
    }

    // special cases for before the active tab
    .Tab.selected-previous:hover {
        border: 1px solid $tab-active-border;
        border-right: 1px solid transparent;
        border-bottom: none;
    }

    // special cases for after the active tab
    .Tab.ReactTabs__Tab--selected + .Tab:hover {
        border: 1px solid $tab-active-border;
        border-left: 1px solid transparent;
        border-bottom: none;
    }
    
    &-container {
        @extend .container;
        margin-top: 15px;
    }
}

section.card header + .Tabs {
    margin-top: -10px;
}
