.Tabs {
    [role="tablist"] {
        @extend .container;
        background: $white;
        border-bottom: $border;
        margin: 0 auto;
    }

    [role="tablist"].form-tab-list [role="tab"] {
        padding: 6px 8px;
    }

    [role="tab"] {
        border-color: 1px solid transparent;
        padding: 6px 8px;

        &:not(:last-of-type) {
            margin-right: 8px;
        }

        &:hover,
        &[aria-selected="true"] {
            background: $background-color;
            border: 1px solid #bbb;
            border-bottom: 0;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
        }

        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            outline: 0;
            box-shadow: none;

            &::after {
                display: none;
            }
        }

        a {
            color: $black;
            display: block;
            text-decoration: none !important;
        }
    }

    
    &-container {
        @extend .container;
        margin-top: 15px;
    }
}

section.card header + .Tabs {
    margin-top: -10px;
}
