.creation-step {
    margin-bottom: 0;

    &.step-done {
        h2 {
            background: lighten($linode-green, 20);
        }
    }

    h2 {
        background: $linode-green;
        padding: 1rem;
        color: white;
        font-size: 14pt;
        margin-bottom: 0;
        font-weight: bold;
    }

    .back {
      color: white;
      margin-right: 1rem;
      line-height: 3.2;
    }

    .list {
        max-height: 25rem;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 1rem;

        h3 {
            border-bottom: 1px black solid;
            padding-bottom: 0.2rem;
            margin-bottom: 0;
        }
    }

    .distro {
        margin: 1rem 0;
        border-bottom: 1px solid lightgrey;
        cursor: pointer;
        transition: background-color 0.2s linear;

        &:hover, &.selected {
            background-color: #eee;
        }

        img {
            margin-right: 1rem;
            padding: 2px;
        }
    }

    .dc {
        cursor: pointer;
        transition: background-color 0.2s linear;
        width: 22%;
        padding: 1rem 0;
        text-align: center;

        &:hover, &.selected {
            background-color: #eee;
        }

        img {
            border-radius: 48px;
            display: block;
            border: 1px solid grey;
            margin: 0 auto 0.5rem auto;
        }
    }

    .header-icon {
        margin-left: 0.5rem;
    }

    .dc-icon {
        border-radius: 12px;
        display: inline-block;
        border: 1px solid grey;
        margin-left: 0.5rem;
        margin-top: -0.15rem;
    }

    .dc-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    & > div {
        $selected-border: 2px;

        .react-tabs {
            [role="tablist"] {
                border: none;
                border-bottom: $selected-border transparent solid;
                background: $linode-green;
            }

            [role="tab"] {
                background: $linode-green;
                padding: 0.25rem 1rem;
                color: white;
                border-radius: none;
                border: none;
                border-bottom: $selected-border transparent solid;

                &[aria-selected="true"] {
                    border-bottom: $selected-border black solid;
                }
            }

            [role="tabpanel"] {
                padding: 1rem 2rem;
            }
        }
    }
}
