@import 'create';

.linode-status {
    color: $linode-blue;

    &.running {
        color: $linode-green;
    }

    &.offline {
        color: $linode-red;
    }
}

.linode.card {
    .linode-label {
        padding: 0 15px;
        text-decoration: underline;
    }

    .linode-lish {
        text-decoration: underline;
    }
}