@import 'settings/settings.scss';
@import 'create/create.scss';

.linode-status {
    color: $blue;
    animation: pulse 1.5s infinite;

    &.running {
        color: $green;
        animation: none;
    }

    &.offline {
        color: $red;
        animation: none;
    }
}

.linode-power {
    cursor: pointer;
    cursor: hand;
    border: $border;
    border-color: transparent;

    &.fa {
        color: $lightest-black;
    }
}

.linode-power:hover,
.linode-power:focus,
.linode-power:active {
    color: $light-black;
}

.restore {
    .restore-col {
        display: inline-block;
        vertical-align: top;

        &:first-of-type {
            margin-right: 1rem;
        }
    }
}
