.Article {
    padding: 20px 25px;
    max-width: 750px;
    width: 100%;
    overflow-x: auto;

    &-title {
        padding: 10px 0;

        h1 {
            margin: 0;
        }
    }

    header {
        border-bottom: $border;
        padding-bottom: 20px;
        margin-bottom: 20px;

        h1 {
            margin-bottom: 10px;
        }
    }
}
