.EndpointIndex {
    padding: 25px;

    &-header,
    &-group {
        margin-bottom: 20px;
    }

    &-breadcrumbsContainer {
        margin-bottom: 5px;
    }

    .LinkCell {
        @media screen and (max-width: 768px) {
            overflow-wrap: break-word;
        }
    }
}
