.Endpoint {
    &-header {
        padding: 25px;
    }

    &-body {

    }

    &-methods {

    }

    &-methodsLabel {

    }

    &-methodsList {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 10px;
        }
    }

    .divider {
        border-top: $border;
    }
}
