.Endpoint {
    &-header {
        padding: 25px;
    }

    &-methodsList {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 10px;
        }
    }

    .divider {
        border-top: $border;
    }
}

.Tabs {
    .TabList {
        border: 0;

        .Tab {
            &.ReactTabs__Tab--selected {
                background: white;
                border-bottom: 1px solid white;
                position: relative;
                top: 1px;
                z-index: 1;
            }

            &:not(.ReactTabs__Tab--selected) {
                color: $black;
            }

            &:not(:last-of-type) {
                margin-right: 1px;
            }
        }
    }
}
