.Docs .MethodResponse {
    h3, h4 {
        margin-bottom: 5px;
    }

    padding-top: 15px;
    margin-top: 15px;
    border-top: $border;
}

tr.NestedSchemaParent {
    &:hover {
        cursor: pointer;
        background-color: $medium-gray;
    }

    td:first-of-type .fa {
        padding-right: 5px;
    }
}

td.NestedSchemaCell {
    background-color: $medium-gray;
    padding: 10px 0 0 40px;
}
