.Method {
    padding: 25px;

    td {
        border-right: $border;
    }

    &-request {
        padding: 10px 0 0 0;

        .Docs & h3 {
            padding: 0 0 10px 0;            
        }

        .Tabs {
            .ReactTabs__TabList {
                padding: 0;
            }

            .ReactTabs__Tab {
                height: 30px;
                padding: 4px 10px;
            }

            &-container {
                margin: 0;
                padding: 0;
            }
        }
    }

    &-section {
        width: 100%;
        overflow: auto;
    }
    
    &-section.#{&}-request {
        margin-bottom: 30px;
    }
}
