.MethodResponseExample {
    &-header {
        border-bottom: $border;
        padding: 10px;

        &:hover {
            background: $medium-gray;
            cursor: pointer;
        }
    }

    &-header h3,
    &-headerControl {
        display: inline;
    }

    &-headerControl {
        display: inline;
        float: right;
    }

    &-headerIcon {
        margin-left: 10px;
    }

    .Example {
        padding: 0;
    }
}
