.MethodResponse {
    h4 {
        margin-bottom: 5px;
    }
}

tr.NestedSchemaParent {
    &:hover {
        cursor: pointer;
        background-color: $light-blue;
    }
}

td.NestedSchemaCell {
    background-color: $gray;
    padding: 10px 0 0 40px;

    .Example {
        padding: 0;
    }
}
