.Method {
    padding: 25px;

    &-section {
        width: 100%;

        @media screen and (max-width: #{$table-breakpoint}) {
            overflow-x: auto;
        }
    
        &:not(:last-of-type) {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: $border;
        }
    }

    td {
        border-right: $border;
    }

    &-header {
        padding-bottom: 5px;
    }
}

.Tabs {
    .ReactTabs__TabList {
        padding: 0;
    }

    .ReactTabs__Tab {
        height: 30px;
        padding: 4px 10px;
    }

    &-container {
        margin: 0;
        padding: 0;
    }
}
