.Method {
    padding: 25px;

    &-request {
        padding: 10px 0 0 0;

        h4 {
            padding: 0 0 10px 0;
        }

        .Tabs {
            .ReactTabs__TabList {
                padding: 0;
            }

            .ReactTabs__Tab {
                height: 30px;
                margin-right: 5px;
                padding: 4px 10px;

            }

            &-container {
                margin: 0;
                padding: 0;
            }
        }
    }

    td {
        border-right: $border;
    }
}
