.Docs .MethodResponse {
    h3 {
        margin-bottom: 5px;
    }
}

tr.NestedSchemaParent {
    &:hover {
        cursor: pointer;
        background-color: $medium-gray;
    }
}

td.NestedSchemaCell {
    background-color: $medium-gray;
    padding: 10px 0 0 40px;

    .Example {
        padding: 0;
    }
}
