.EndpointColumn {
    width: 325px;
    @media screen and (max-width: 700px) {
        width: 198px;
    }
}

.MethodColumn {
    width: 125px;
}

.OperatorColumn {
    width: 125px;
}

.ParameterColumn {
    width: 125px;
}

.TypeColumn {
    width: 75px;
}

.StatusCodeColumn {
    width: 225px;
}

.FieldColumn {
    width: 220px;
    @media screen and (max-width: 700px) {
        width: 198px;
    }
}

.TypeColumn {
    width: 100px;
}
