#dev-tools {
  position: fixed;
  bottom: 0px;
  background: black;
  opacity: 0.4;
  color: white;
  width: 100%;
  padding: 20px;
  height: 60px;
  width: 60px;
  transition: all 0.3s;
  z-index: 1;
}

#dev-tools:hover {
  height: 300px;
  width: 100%;
  opacity: 0.9;
}

#dev-tools .tools {
  display: none;
}

#dev-tools:hover .tools {
  display: flex;
}
