.ModalOverlay {
    display: none;
    z-index: 9999;
    position: fixed;
    top: $nav-height - 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $transparent;

    &--visible {
        display: initial;
    }
}

.Modal {
    width: 600px;
    margin: 30px auto;
    max-height: calc(100% - #{2 * 30px});
    box-shadow: $box-shadow;
    background: $white;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    &-header {
        background: $gray;
        padding: 20px;
        border-bottom: 1px solid #ccc;

        h3 {
            position: relative;
            top: 1px;
        }
    }

    &-body {
        padding: 10px 20px;
        overflow-y: auto;
    }

    &-footer {
        text-align: right;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-top: 0;

        .btn:not(:first-child) {
            margin-left: 5px;
        }
    }

    .Input, .Select, textarea, .alert {
        display: block;

        :last-child.form-control {
            width: 100%;
        }
    }

    textarea {
        min-width: 100%;
    }

    .form-group:last-of-type {
        margin-bottom: 10px;
    }
}

.DeleteModalBody {
    strong {
        white-space: nowrap;
    }

    li {
        font-weight: bold;
    }
}
