.Dropdown {
    .btn:hover {
        cursor: pointer;
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }

    &-toggle,
    &-first,
    &-item {
        @extend .btn;
        @extend .btn-default;

        text-align: left;
    }

    &-item {
        width: 100%;
        display: block;
        border: 0;
        padding: 0 15px;

        // Overwrites settings from inside .btn-group
        margin-left: 0 !important;
    }

    &-toggle {
        // Give menu an anchor position
        position: relative;
        width: $form-field-height;
        height: $form-field-height;
        text-align: center;

        .fa {
            color: $light-black;
        }

        // Hide default Bootstrap arrow
        ::after {
            display: none;
        }
    }

    &-menu {
        @extend .font-normal;

        border: $border;
        width: 200px;
        text-align: right;
        position: absolute;
        top: $form-field-height - 1px;
        z-index: 1000;

        left: 0;
        &--right {
            left: initial;
            right: 0;
        }

        display: none;
    }

    &--open &-menu {
        display: initial;
    }
}
