@keyframes falling {
  0% {
    transform: rotateX(0deg);
  }
  12% {
    transform: rotateX(240deg);
  }
  24% {
    transform: rotateX(150deg);
  }
  36% {
    transform: rotateX(200deg);
  }
  48% {
    transform: rotateX(175deg);
  }
  60%,
  85% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resultq {
  font-size: 2.5rem;
  line-height: 0.75;
}

.resultq span:nth-child(1) {
  display: inline-block;
  animation: falling 2s linear 2s 1 normal forwards;
  transform-origin: bottom center;
}

.nothing {
  opacity: 0;
  animation: fadein 0.2s linear 2.5s 1 normal forwards;
}
