.LinodesDistribution {
    border: $border;
    margin-top: 0;
    cursor: pointer;

    .Dropdown {
        // Compensate for border
        width: calc(100% + 2px);
        margin-top: -1px;
        position: relative;
        left: -1px;

        &-first {
            text-align: center;
        }

        &-first,
        &-menu {
            width: 100%;
        }
    }

    &-body:hover,
    &--isSelected {
        @extend .selected;

    }
    
    &--isNoLinodeDistribution {
        & > div {
            padding: 0 10px;
        }
    }

    &-body {
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;


        span {
            padding: 0 15px;
            color: $light-black;
        }
    }
}
