.LinodesDistribution {
    @mixin title() {
        text-align: center;
        overflow: hidden;
        line-height: $input-height;
        color: $black;        
    }

    @extend .dropdown;

    border: $border;
    margin-top: 0;
    cursor: pointer;

    &:not(&--isSelected) &-body:hover {
        background-color: $gray;
    }

    &--isSelected {
        background-color: $light-blue;
    }
    
    &--isNoLinodeDistribution {
        & > div {
            padding: 0 10px;
            font-size: $font-xs-small;
        }
    }

    &-dropdown {
        @include clearfix();

        margin-bottom: 0 !important; /* Remove after cleaning up .card header */
        border-bottom: $border;
        background-color: $light-gray;
        line-height: inherit;
        padding: inherit;
        position: relative;
    }

    &-dropdown--isOpen &-menu {
        display: block;
    }

    &-title {
        @include title();
    }

    &-toggleDropdown {
        @extend .btn;
        @extend .btn-secondary;
        @extend .dropdown-toggle;

        float: right;
        border-right: none !important;
        border-top: none !important;
        border-bottom: none !important; /* TODO: clean these importants up */

        &::after {
            /* Hide the bootstrap dropdown icon */
            display: none;
        }
    }

    &-menu {
        @extend .dropdown-menu;

        border: $border !important;
        border-radius: 0;
        min-width: calc(100% + 2px);
        left: -2px;
        margin-top: 0 !important;
    }

    &-version { 
        @include title();
        @include pointer();
        @extend .dropdown-item;

        font-size: $font-normal;
        text-align: left !important;
        font-weight: inherit;
        padding: 0 inherit;
        margin-left: 0 !important;
            
        &:first-of-type {
            margin-left: 0;
        }
            
    }

    &-body {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding: 0 15px;
            color: $light-black;
        }
    }
}
