.StatusDropdown {
    @extend .btn-group;

    position: relative;
    border: $border;
    width: 92px;

    &--open &-menu {
        display: block;
    }

    &-toggle {
        @extend .btn;
        @extend .float-sm-right;
        @extend .dropdown-toggle;

        padding: 0;
        background: transparent;
        border: 0;
        color: $light-black;
        height: $form-field-height;
        width: 100%;

        &:active,
        &:hover,
        &:focus,
        &:focus:active {
            background: transparent;
        }
    }

    &-item {
        @extend .btn;
        @extend .dropdown-item;
        border: $border;
    }

    &-container {
        height: 100%;
        // These calculations offset the left, right and top borders.
        width: calc(100% + 2px);
        position: absolute;
        top: -1px;
        left: -1px;
    }

    &-progress {
        text-align: center;
        background-color: $green;
        background-image: linear-gradient(
            45deg,
            rgba(white, 0.1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(white, 0.1) 50%,
            rgba(white, 0.1) 75%,
            transparent 75%,
            transparent
        );
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

        height: $form-field-height;
        width: 0px;
        -webkit-transition: width 1s ease-in;
        -moz-transition: width 1s ease-in;
        -o-transition: width 1s ease-in;
        -ms-transition: width 1s ease-in;
    }

    @-webkit-keyframes spin {
        0% {background-position: 0px 0px;}
        100% {background-position: 0px 60px;}
    }

    @keyframes spin {
        0% {background-position: 0px 0px;}
        100% {background-position: 0px 60px;}
    }

    &-percent {
        @extend .font-small;
        color: $white;
        padding: 0 8px;
        line-height: $form-field-height;
    }
}
