.StatusDropdown {
    width: 140px;
    height: 40px;

    &--dropdown {
        border: 0;
    }

    .Dropdown {
        width: 100%;

        &-first {
            &:not(#running) {
                // important is needed to override some button hover I can't find
                color: $lightest-black !important;
            }

            &#running {
                color: $green;
            }

            background: $white;
            width: calc(100% - #{$form-field-height});

            &#running {
                color: $green !important;
            }

            &:hover,
            &:active,
            &:focus {
                background: $white;
            }
        }

        &-menu {
            right: 1px;
        }
    }

    &-container {
        width: 100%;
        height: 5px;
        border: $border;
        border-color: $gray;
        margin-top: 3px;
    }

    &-progress {
        position: relative;
        left: -1px;
        top: -1px;

        text-align: center;
        background-color: $green;
        -webkit-animation: blink 2s ease infinite;
        animation: blink 2s ease infinite;

        height: 5px;
        width: 0px;
        -webkit-transition: width 1s ease-in;
        -moz-transition: width 1s ease-in;
        -o-transition: width 1s ease-in;
        -ms-transition: width 1s ease-in;
    }

    @-webkit-keyframes blink {
        50% {background-color: $light-green;}
    }

    @keyframes blink {
        50% {background-color: $light-green;}
    }
}
