.Docs {
    p {
        padding: 5px 0;
    }

    h1, h2, h3 {
        margin: 0;
        padding: 0;
    }

    table {
        margin-bottom: 15px;
    }

    pre {
        code:not(.hljs) {
            padding: 10px;
        }

        .hljs {
            padding: 10px 15px;
        }

        code {
            @extend .font-small;
        }
    }

    section {
        margin-bottom: 25px;
    }

    table {
        td {
            border: $border;
        }
    }
}
