$sidebar-width: 250px;

.Layout {
    background-color: $gray;

    &-navigationContainer,
    &-content {
        min-height: 100%;
    }

    &-container {
        min-height: calc(100% - #{$nav-height});
        margin-top: $nav-height;
    }

    &-navigationContainer {
        background-color: $light-gray;
        border: $border;
        position: fixed;
        width: $sidebar-width;
    }

    &-content {
        background-color: $white;
        margin-left: $sidebar-width;
    }
}
