$sidebar-width: 250px;
$header-height: 60px;

.Layout {
    height: 100%;

    &-container {
        margin: 0 auto;
    }

    &-navigationContainer {
        position: fixed;
        top: $header-height;
        bottom: 0;
        background-color: $light-gray;
        border: $border;
        width: $sidebar-width;
        overflow-y: scroll;
    }

    &-content {
        margin-top: 60px;
        margin-left: calc(#{$sidebar-width} - 1px);
        background-color: $white;
        // Subtract the bootstrap margin too.
        width: calc(100% - #{$sidebar-width} - 30px);
        border: $border;
        overflow-y: scroll;
    }

    @media screen and (max-width: #{$sidebar-breakpoint}) {
        width: 100%;

        &-container {
            padding: 0;
        }

        &-navigationContainer {
            display: none; 
            border: $border;
            position: fixed;
            top: $header-height;
            bottom: 0;
            overflow-y: scroll;
            border-top: 0;
            border-right: 0;

            &--show {
                display: block;
                z-index: 1;
                right: 0;
            }

            &--hide {
                display: none;
            }
        }

        &-content {
            margin-left: 0;
            width: 100%;
            border: 0;
            padding-bottom: 15px;
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: #{$table-breakpoint}) {    
        .Table {
            width: auto;
        }
    }
}
