$sidebar-width: 250px;

.Layout {
    height: 100%;

    &-container {
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    &-navigationContainer {
        position: fixed;
        top: $nav-height + $mini-nav-height;
        background-color: $light-gray;
        border-left: $border;
        border-right: $border;
        height: 100%;
        width: $sidebar-width;
    }

    &-content {
        position: absolute;
        top: $nav-height + $mini-nav-height;
        background-color: $white;
        min-height: calc(100% - #{$nav-height + $mini-nav-height});
        margin-left: $sidebar-width;
        width: calc(100% - #{$sidebar-width});
        border-right: $border;
    }

    @media screen and (max-width: 768px) {
        width: 100%;

        &-container {
            padding: 0;
        }

        &-navigationContainer {
            display: none; 
            overflow-y: visible;
            border: $border;

            &--show {
                display: inline;
                z-index: 9000;
            }

            &--hide {
                display: none;
            }
        }

        &-content {
            margin-left: 0;
            width: 100%;
            border: 0;
        }
    }
}
