.ToggleNav {
    margin-top: 18px;
    display: none;

    outline: none !important;

    @media screen and (max-width: 768px) {
        display: inline;
    }

    i {
        color: $white;
    }
}
