.input-group,
.btn-group,
.btn {
    height: $form-field-height;
}

.btn,
a {
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn {
    @extend .font-normal;
    padding: $form-field-padding;
    text-decoration: none;
    border-radius: 0;
    border: $border;
    background: $light-gray;

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:active,
    &:focus {
        // Important because we want this to overrule the defaults for all buttons:
        // .btn-primary, .btn-secondary, etc.
        outline: 0 !important;
        box-shadow: none !important;
    }

    &.btn-default {
        color: $black;

        &:not([disabled]):hover {
            background: $gray;
            color: $black;
        }
    }

    &.btn-primary {
        &, &:active, &:focus {
            background: $blue;
            color: $white;
            border: 1px solid $blue;
        }

        &:not([disabled]):hover {
            border-color: $blue; /* :focus:active needs this */
            background: $white;
            color: $blue;
        }
    }

    &.btn-link {
        padding: 0;
        border: 0;
        background: transparent;
        outline: 0;
        display: block;
        height: 18px;

        &, &:active, &:focus {
            color: $blue;
        }

        &:not([disabled]):hover {
            text-decoration: underline;
            color: $blue;
        }
    }

    &.btn-danger {
        background: $red;
        border: 1px solid $red;

        &[disabled]:hover,
        &[disabled]:active,
        &[disabled]:focus {
            color: $white;
            background: $red;
        }

        &:hover,
        &:active,
        &:focus {
            color: red;
            background: transparent;
        }
    }

    &.btn-danger-outline {
        border-color: $red;
        background: transparent;
        color: $red;

        &:hover,
        &:active,
        &:focus {
            background: $red;
            color: $white;
        }
    }

    &.btn-cancel, &.btn-cancel:not([href]) {
        margin-left: 10px;
        display: inline-block;
    }

    & + & {
        margin-left: 5px;
    }
}

// TODO: remove or replace with specific instance (i.e. for the checkbox + action menu)
.input-group {
    height: $form-field-height;

    // TODO: drop after moving to input components
    .input-group-addon {
        background: $light-gray;
        height: 100%;
        padding: 0 8px;
        border-radius: 0;

        .Checkbox {
            padding: 0 !important;
        }
    }

    input {
        margin: 0;
        border: $border;
        border-radius: 0;
        height: 100%;

        &[readonly] {
            background-color: $white;
            width: 200px;
        }
    }

    .input-group-btn {
        height: $form-field-height;
        float: left;
    }
}
