.Card {
    background: $white;
    border: $border;
    position: relative;
    border-radius: 0;

    .row:not(:first-child) {
        margin-top: 10px;
    }

    &-body {
        padding: 20px;
    }

    &-bodyLabel {
        color: $light-black;
    }
}
