.CardImageHeader {
    background-color: $medium-gray;
    border-bottom: $border;
    padding: 15px 20px;

    &-title {
        padding: 7px 0 0 0;
    }

    &-icon {
        margin-right: 15px;
        height: 40px;
        width: 40px;
    }

    &-tag {
        border: $border;
        padding: 1px 3px;
        margin-left: 10px;
    }

    &-nav {
        padding: 5px 0 0 0;
    }
}
