// For overrides, see https://github.com/just-the-docs/just-the-docs/blob/main/_sass/support/_variables.scss


$link-color: rgb(37, 117, 208);
 
.nav-list li a {
  line-height: 1.3 !important;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}