.StyleguideTypography {
  width: 100%;

  .TableCell h1,
  .TableCell h2,
  .TableCell h3,
  .TableCell h4,
  .TableCell h5,
  .TableCell h6 {
    margin: 0;
  }

  th.element {
    width: 175px;
  }
}
