.Card {
    background: $white;
    border: $border;
    padding: 15px 20px;
    position: relative;
    border-radius: 0;
    margin: 0 0 15px 0;

    .row:not(:first-child) {
        margin-top: 10px;
    }

    .SubTabs-container {
        // Deals with default padding bottom of SubTabs-container
        padding-bottom: 0;
    }

    &-body {
        &-label {
            color: $light-black;
        }
    }
}
