.Card {
    background: $white;
    border: $border;
    position: relative;
    border-radius: 0;
    margin: 0 0 15px 0;

    .row:not(:first-child) {
        margin-top: 10px;
    }

    .SubTabs-container {
        // Deals with default padding bottom of SubTabs-container
        padding-bottom: 0;
    }

    &-body {
        padding: 15px 20px 15px 20px;
    }

    &-bodyLabel {
        color: $light-black;
    }
}
