.ImageCardHeader {
    background-color: $light-gray;
    border-bottom: $border;

    &-icon {
        margin-right: 15px;
        display: none;
    }

    .user-icon {
        height: 50px;
        width: 50px;
    }
}
