.ExampleForm {
  padding: 20px 0;
  position: relative;

  &-description {
    padding: 10px 0;
  }

  form {
    margin-bottom: 40px;
  }

  // For Descriptor Positioning
  .form-group,
  .form-group > label,
  .form-group > div {
    position: relative;
  }

  dl > dt,
  dl > dd {
    display: inline;
  }

  dl > dd {
    margin-left: 10px;
  }

  dl > dd:after {
    content: '';
    display: block;
    margin-top: 10px;
  }
}

.FormDescriptor {
  position: absolute;
  color: $black;

  .badge {
    background: $blue;
  }

  &__form-labels {
    top: -20px;
    left: 105px;
  }

  &__required-field {
    top: -10px;
    left: 72px;
  }

  &__form-fields {
    top: -75px;
    left: 70px;
  }

  &__disabled-fields {
    top: 40px;
    left: 75px;
  }

  &__form-title {
    top: -10px;
    left: 0;
  }

  &__form-section-title {
    top: -60px;
    left: 16px;
  }

  &__form-buttons {
    top: 40px;
    left: 20px;
  }
}
