@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resultq {
  font-size: 2.5rem;
  line-height: 0.75;
}

.nothing {
  opacity: 0;
  animation: fadein 0.2s linear 2.5s 1 normal forwards;
}
