/* BEGIN Color definitions */
// Basic element colors
$blue: #4A90E2;
$light-blue: lighten($blue, 15%);

$green: #3bb878;
$light-green: lighten($green, 45%);

$red: #F24C2B;

$yellow: #ffefaf;
$dark-yellow: #FFFCF0;

// Basic text / layout colors
$light-gray: #FAFAFA;
$medium-gray: #F3F3F3;
$gray: #F0F0F0;
$dark-gray: #CCC;

$lightest-black: #999;
$light-black: #555;
$black: #111;
$darkest-black: black;
$dark-black: #333333;

$white: #FEFEFE;
$transparent: rgba(0, 0, 0, 0.5);

// Semantics colors

$main-header-color-text: $dark-gray;
$main-header-color-text-highlight: $white;
$main-header-color: $dark-black;
$main-header-highlight-color: lighten($main-header-color, 5%);
$main-header-color-active: $green;

$select-color: $light-green;
$background-color: #FAFAFA;

/* END color definitions */


/* BEGIN layout definitions */

$main-padding-tb: 10px;
$main-padding-lr: 20px;

$mini-nav-height: 23px;
$nav-height: 60px;
$main-height: calc(100% - #{$nav-height + $mini-nav-height});


/* END layout definitions */


/* BEGIN generic definitions */

$form-field-height: 32px;
$form-field-padding: 6px 8px;
$checkbox-height-width: 16px;

$border-gray: $dark-gray;
$border: 1px solid $border-gray;
$box-shadow: 0px 2px 4px 0px $transparent;

/* END generic definitions */


/* BEGIN bootstrap overrides */
$grid-max-width: 1140px;

// Basically just sets each max width to 100%
$container-max-widths: (
  xl: $grid-max-width
);

@each $breakpoint, $container-max-width in $container-max-widths {
  @if $breakpoint != 'xl' {
    $container-max-widths: (
      $breakpoint: 100%
    );
  }
}

/* END bootstrap overrides */


/* BEGIN z-index definitions */

$preload-z-index: 10000;

/* END z-index definitions */
