.Header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: inherit; /* From .layout min-width */
    z-index: 9998;
}

.MainHeader {
    @extend .clearfix;
    height: $nav-height;
    background: $dark-black;
    font-size: 0;

    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

    &-brand, &-search, &-session, &-link {
        @extend .font-normal;
        float: left;
        margin-right: 30px;
    }

    &-logo {
        font-size: 35px; /* Special font-size case */
        line-height: 50px;
        padding-right: 15px;
    }

    &-title {
        color: $dark-gray;
        vertical-align: top;
        line-height: $nav-height;
        font-size: 18px; /* Special font-size case */
    }

    &-link {
        color: $lightest-black;
        line-height: $nav-height;
        margin-right: 30px;

        &--selected,
        &:hover,
        &:focus,
        &:active {
            color: $white;
        }
    }

    &-notifications {
        @extend .font-normal;
        height: 100%;

        padding: 19px 14px;
        position: relative;
        width: 48px;

        &:hover {
            background: $nav-hover-background-color;
            cursor: pointer;

            i {
                color: $white;
            }
        }

        i {
            @extend .font-large;
            color: $lightest-black;
        }
    }

    &-session {
        height: $nav-height;
        float: right;
        padding: 0 15px;
        margin-right: 0;
        position: relative; /* Give the badge something to relate to */

        /* Disable double click highlight */
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;

        &.active,
        &:active,
        &:hover,
        &:focus {
            background: $nav-hover-background-color;
            cursor: pointer;
            cursor: hand;
        }

        &:hover .MainHeader-username {
            color: $white;
        }
    }

    &-username {
        line-height: $nav-height;
        padding-right: 15px;
        color: $lightest-black;
    }

    &-gravatar {
        vertical-align: initial;
        position: relative;
        top: calc(calc(#{$nav-height} - 35px) / 2);
    }

    &-badge {
        @extend .Badge;
        background: $red;
        border: 2px solid $dark-black;
        position: absolute;
        right: 4px;
        top: 6px;
    }
}
