.Header {
    width: 100%;
    min-width: inherit; /* From .Layout min-width */
}

.MainHeader {
    @extend .clearfix;
    height: $nav-height;
    background: $main-header-color;
    font-size: 0;

    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
    }

    &-title {
        color: $dark-gray;
        vertical-align: top;
        line-height: $nav-height;
        font-size: 18px; /* Special font-size case */
    }
}
