.Menu {
    @extend .clearfix;

    &-item {
        float: left;
        line-height: $form-field-height;

        &--right {
            float: right;
        }

        & + &:not(&--right) {
            padding-left: 15px;
        }

        &--right + & {
            padding-right: 15px;
        }
    }

    &-itemLabel {
        float: left;
        line-height: $form-field-height;
        padding-right: 7px;
    }
}
