.Menu {
    @extend .clearfix;

    &-item {
        float: left;

        &--right {
            float: right;
        }

        & + &:not(&--right) {
            padding-left: 15px;
        }
    }
}
