.VerticalNav {
    height: 100%;
    padding: 25px;
    overflow-y: auto;

    &-section {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 10px 0;

            &:last-child {
                padding-bottom: 0;
            }
        }

        li {
            margin: 0 0 5px 0;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                @extend .font-medium;
                color: $light-black;
                text-decoration: none;
            }

            a:hover,
            &.active a {
                color: $blue;
            }
        }
    }
}
