:root {
	font-size: 1rem;
}

.baseBtn {
	font-size: 1rem;
}

.copyIcon {
  height: 0.8125rem;
  width: 0.8125rem;
  cursor: pointer;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}