@import 'Layout';

.linode-add {
    height: 40px;
    line-height: 26px;
    
    .fa-plus {
        padding-right: 10px;
        position: relative;
        top: 1px;
        color: inherit;
    }
}
