@import 'Layout';

.linode-add {
    padding: 10px 15px;
    height: auto;
    
    .fa-plus {
        padding-right: 10px;
        position: relative;
        top: 1px;
        color: inherit;
    }
}
