@import 'Layout';

.linode-add {
    .fa-plus {
        padding-right: 10px;
        position: relative;
        top: 1px;
        color: inherit;
    }
}

.linode.card {
    padding: 0;

    .linode-details {
        padding: 15px 20px;
    }

    .header-secondary {
        margin-bottom: 0;

        & > * {
            display: inline-block;
            &:not(:first-child) {
                margin-left: 15px;
                line-height: 30px;
            }
        }

        .linode-power {
            margin-top: 3px;
        }
    }
}
