html,
body,
#root,
#root > [data-reactroot],
.layout {
  height: 100%;
}

.layout {
    min-width: 800px;

    &--appLoader .MainHeader .container {
        & > :not(.MainHeader-brand, .MainHeader-link) {
            display: none;
        }
    }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .card {
    height: 100%;
  }
}

.Main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: $nav-height;

    &-dropdownContainer {
        position: relative;
        z-index: 1001;
    }

    &-inner {
        flex: 1;
    }
}

.main-header {
    @extend .clearfix;

    background: $white;
    padding-top: 15px;
    padding-bottom: 15px;

    &--border {
        border-bottom: $border;
        margin-bottom: 15px;
    }

    h1 {
        margin-bottom: 0;

        a,
        a:focus,
        a:active,
        a:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

// Deals with the fact that tablist extends container which gives it a max-width
.main-header-fix {
  height: 38px;
  width: 100%;
  background: $white;
  border-bottom: $border;
  margin-bottom: -36px;
}

.card.graphs {
  margin-top: 15px;
}
