html,
body,
#root,
#root > [data-reactroot],
.Layout {
  height: 100%;
}

.Layout {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &-inner {
        flex: 1;
    }
}

.Footer {
    @extend .font-small;

    padding: 15px 0;

    span, a, .fa {
        color: $lightest-black;
    }

    span, a {
        padding: 0 10px;
    }

    a {
        text-decoration: underline;
    }
}

.Main {
    &-dropdownContainer {
        position: relative;
        z-index: 1001;
    }
}

.main-header {
    @extend .clearfix;

    background: $white;
    padding-top: 15px;
    padding-bottom: 15px;

    &--border {
        border-bottom: $border;
        margin-bottom: 15px;
    }

    h1 {
        margin-bottom: 0;

        a,
        a:focus,
        a:active,
        a:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

// Deals with the fact that tablist extends container which gives it a max-width
.main-header-fix {
  height: 38px;
  width: 100%;
  background: $white;
  border-bottom: $border;
  margin-bottom: -35px;
}

.card.graphs {
  margin-top: 15px;
}
