.details-page {
    $side-margin: 60px;

    .chart-wrapper {
        height: 300px;
        width: calc(100% + 2rem);
        margin-top: 1rem;
    }

    .card {
        width: 100%;
        margin-top: 15px;
        padding: 0;
    }

    .graphs {
        .card {
            padding: 1rem;
        }
    }

    header {
        padding: 30px $side-margin 15px $side-margin;
        line-height: 2.2rem;

        h1 {
            display: inline-block;
        }

        .linode-status {
            margin-right: 1rem;
        }

        .edit-icon {
            margin-left: 0.75rem;
            font-size: 16px;
            position: relative;
            top: -6px;
        }

        .edit-details {
            font-size: 2.2rem;
            display: inline-block;

            input {
                background: transparent;
                margin: 0 0.5rem;
                padding: 0;
                width: 12rem;
                border: none;
                border-bottom: $linode-border;

                &:focus {
                    outline: none;
                    border-bottom-color: $linode-dark-gray;
                }
            }
        }
    }

    nav {
        padding: 0 $side-margin;

        border-bottom: $linode-border;
        height: 30px;
        line-height: 30px;

        ul {
           padding: 0;
        }

        li {
            display: inline-block;
            color: $linode-dark-gray;
            padding-right: 50px;

            &.linode-lish {
                float: right;
                padding: 0;

                a {
                    color: $linode-blue;
                    line-height: normal;
                }
            }
        }

        li:hover,
        li:focus,
        li:active,
        li.active {
            color: $linode-black;
            cursor: pointer;
            cursor: hand;
        }
    }

    .graph {
        width: 100%;
        height: 200px;
        border: $linode-border;
    }

    .linode-details,
    .linode-performance {
        padding: 15px $side-margin;
    }

    .linode-content-col {
        margin: 0rem 0rem 0.75rem 0rem;
        .text-muted {
            font-size: 70%;
        }
        a {
            color: $linode-black;
            text-decoration: none;
        }
        img {
            margin-left: 0.5rem;
        }
    }

    .linode-label-col {
        color: #333;
        margin: 0;
        .form-label {
            margin: 0.25rem 0 0 0;
        }
    }

    .backup-schedule {
        .btn {
            margin-right: 1rem;
        }
    }

    .backups {
        display: flex;
        align-items: stretch;

        .col-md-3 {
            display: flex;
            align-items: stretch;
        }
    }

    .restore {
        margin-top: 1rem;

        select {
            display: inline;
            width: auto;
            margin-left: 1rem;
        }
    }

    .backup {
        border: $linode-border;
        padding: 1rem;
        font-size: 14px;
        cursor: pointer;

        &.selected {
            background-color: $linode-blue;
            color: $linode-white;
        }

        dl, dd:last-child {
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
        }
    }
}
