.linode-add {
    .fa-plus {
        font-size: 15px;
        padding-right: 10px;
        position: relative;
        top: 1px;
        color: inherit;
    }
}

.linodes-page {
    .mainmenu {
        margin-bottom: $main-padding-tb;
    }

    .submenu {
        margin-bottom: $main-padding-tb/2;

        .pull-xs-left {
            max-width: 50%;
        }
    }
}

.linode.card {
    padding: 0;

    .header-secondary,
    .linode-details {
        padding: $main-padding-tb/2 $main-padding-lr/2;
    }

    .header-secondary {
        margin-bottom: 0;
        & > * {
            display: inline-block;
            &:not(:last-child) {
                margin-left: 5px;
            }
        }

        .linode-power {
            margin-top: 3px;
        }
    }
}
