.details-page {
    .chart-wrapper {
        height: 300px;
        width: calc(100% + 2rem);
        margin-top: 1rem;
    }

    .graph {
        width: 100%;
        height: 200px;
        border: $border;
    }

    .backup-schedule {
        #schedule, #dow {
            top: 5px;
        }

        .btn {
            margin-right: 1rem;
        }
    }

    .backups {
        display: flex;
        align-items: stretch;

        .col-md-3 {
            display: flex;
            align-items: stretch;
        }
    }

    .snapshot-details .backup {
        margin: 0;
    }

    .restore {
        margin-top: 1rem;

        select {
            display: inline;
            width: auto;
            margin-left: 1rem;
        }
    }
}
