.linode-add {
    background: $linode-blue;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none !important;

    span {
        color: $linode-white !important;
    }

    .fa-plus {
        font-size: 15px;
        padding-right: 10px;
        color: $linode-white;
    }

    &:hover,
    &:active,
    &:focus {
        background: darken($linode-blue, 10%);
        color: $linode-white;
    }
}

.linodes-page {
    .mainmenu {
        margin-bottom: $main-padding-tb;
    }

    .submenu {
        margin-bottom: calc(#{$main-padding-tb} / 2);
    }
}