.details-page {
    $side-margin: 60px;

    .chart-wrapper {
        height: 300px;
        width: calc(100% + 2rem);
        margin-top: 1rem;
    }

    .graphs {
        .card {
            padding: 1rem;
        }
    }

    nav {
        padding: 0 $side-margin;

        border-bottom: $linode-border;
        height: 30px;
        line-height: 30px;

        ul {
           padding: 0;
        }

        li {
            display: inline-block;
            color: $linode-dark-gray;
            padding-right: 50px;

            &.linode-lish {
                float: right;
                padding: 0;

                a {
                    color: $linode-blue;
                    line-height: normal;
                }
            }
        }

        li:hover,
        li:focus,
        li:active,
        li.active {
            color: $linode-black;
            cursor: pointer;
            cursor: hand;
        }
    }

    .graph {
        width: 100%;
        height: 200px;
        border: $linode-border;
    }

    .linode-details,
    .linode-performance {
        padding: 15px $side-margin;
    }

    .row:last-of-type > .linode-content-col {
        margin-bottom: 0;
    }

    .linode-content-col {
        margin-bottom: .75rem;

        .text-muted {
            font-size: 70%;
        }
        li a {
            color: $linode-black;
            text-decoration: none;
        }
        img {
            margin-left: 0.5rem;
        }
    }

    .backups-status a {
        color: $linode-blue;
        text-decoration: none;
        &:hover {
            color: $linode-dark-blue;
            text-decoration: underline;
        }
    }

    .linode-label-col {
        color: #333;
        margin: 0;
        .form-label {
            margin: 0.25rem 0 0 0;
        }
    }
    
    .graphs {
        margin-top: $main-padding-tb;
    }

    .row:last-of-type > .linode-content-col {
        margin-bottom: 0;
    }

    .network-content h3 {
        margin-bottom: $main-padding-tb/2; 
    }

    .network-content ul {
        margin: 0px;
    }

    hr {
        margin: $main-padding-tb 0;
    }

    .backup-schedule {
        .btn {
            margin-right: 1rem;
        }
    }

    .backups {
        display: flex;
        align-items: stretch;

        .col-md-3 {
            display: flex;
            align-items: stretch;
        }
    }

    .restore {
        margin-top: 1rem;

        select {
            display: inline;
            width: auto;
            margin-left: 1rem;
        }
    }

    .backup {
        border: $linode-border;
        padding: 1rem;
        font-size: 14px;
        cursor: pointer;

        &.selected {
            background-color: $linode-blue;
            color: $linode-white;
        }

        dl, dd:last-child {
            margin-bottom: 0;
        }

        h3 {
            text-align: center;
        }
    }

    .graphs {
        margin-top: $main-padding-tb;
    }
}
