.linode-add {
    &.btn {
        background: $blue;
        border-color: $blue;
    }

    &:hover,
    &:active,
    &:focus {
        background: $dark-blue !important;
    }

    span {
        position: relative;
        top: -1px;
        color: $white !important;
    }

    .fa-plus {
        font-size: 15px;
        padding-right: 10px;
    }
}

.linodes-page {
    .mainmenu {
        margin-bottom: $main-padding-tb;
    }

    .submenu {
        margin-bottom: calc(#{$main-padding-tb} / 2);
    }
}
