.Backup {
    &--disabled {
        cursor: not-allowed;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    &-block {
        text-align: center;
        border: $border;
        color: $black;
        height: 140px;

        &--clickable:hover {
            @extend .selected;
        }

        button {
            margin-top: 5px;
        }
    }

    &-title {
        background-color: $light-gray;
        border-bottom: $border;
        height: 30px;
        padding: 3px 0px 3px 0px;
    }

    &-description {
        padding: 38px 0 0 0;
    }

    &-emptySnapshot &-description {
        padding: 22px 0 0 0;
    }
}
