.backup {
    border: $border;
    cursor: pointer;
    cursor: hand;
    text-align: center;

    header {
        padding: 0;
        height: $input-height;
        line-height: $input-height;
    }

    > :not(header) {
        padding: 15px;
    }

    .content-col:last-of-type {
        margin: 0 auto;
    }

    &.future {
      opacity: 0.70;
      cursor: default;
      .future-disabled {
        &:hover {
          background-color: $white;
        }
      }
    }

}

.backup-block {
  text-align: center;
  margin: 13px;
  border: $border;
  color: $black;
  height: 120px;

  &.clickable:hover {
    background-color: $light-gray;
  }

  .title {
    background-color: $light-gray;
    border-bottom: $border;
    padding: 3px 0px 3px 0px;
  }

  .description {
    margin: 29px 0px 15px 0px;
  }

  .no-snapshot {
    margin-top: 18px;
  }
}
