.backup {
    border: $border;
    cursor: pointer;
    cursor: hand;
    text-align: center;

    header {
        padding: 0;
        height: $form-field-height;
        line-height: $form-field-height;
    }

    > :not(header) {
        padding: 15px;
    }

    .content-col:last-of-type {
        margin: 0 auto;
    }

    &.future {
      opacity: 0.70;
      cursor: default;
      .future-disabled {
        &:hover {
          background-color: $white;
        }
      }
    }

}

.Backup {
    &-container {
        padding: 5px 0;
    }

    &--disabled {
        cursor: not-allowed;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    &-block {
        text-align: center;
        border: $border;
        color: $black;
        height: 140px;

        &--clickable:hover {
            @extend .selected;
        }

        button {
            margin-top: 5px;
        }
    }

    &-title {
        background-color: $light-gray;
        border-bottom: $border;
        height: 30px;
        padding: 3px 0px 3px 0px;
    }

    &-description {
        padding: 38px 0 0 0;

        &--muted {
            color: $default-gray;
        }
    }
}
