$badge-height: 30px;

.badge {
  border-radius: 40px;
  display: inline-block;
  position: absolute;
  font-size: $font-xs-small;
  background: $red;
  color: $white;
  height: $badge-height;
  line-height: $badge-height;
  text-align: center;

  /* These settings are so that it looks circular generally and decent in other cases. */
  min-width: $badge-height;
  padding: 0 3px;
}
