$badge-height: 25px;

.badge {
  border-radius: 15px;
  display: inline-block;
  position: absolute;
  font-size: $font-xs-small;
  color: $white;
  height: $badge-height;
  line-height: $badge-height + 1px;
  text-align: center;

  /* These settings are so that it looks circular generally and decent in other cases. */
  min-width: $badge-height;
}
