.Banner {
    text-align: center;

    .importantTicket, .migration {
        background-color: #FFDE4C;
        padding: 5px;
    }

    .abuseTicket {
        background-color: #FF3333;
        padding: 5px;
    }
}
