.Banner {
    text-align: center;

    .critical {
        padding: 5px;
        margin-top: 1px;
        background-color: rgb(248, 80, 80);
        color: #f4f4f4;
        a {
            color: rgb(197, 197, 240);
        }
    }

    .notice {
        padding: 5px;
        margin-top: 1px;
        background-color: #FFDE4C;
    }
}
 