.Banner {
    text-align: center;

    .critical {
        padding: 5px;
        background-color: $red;
        color: $medium-gray;
        a {
            color: $dark-gray;
        }
    }

    .warning {
        padding: 5px;
        background-color: $dark-yellow;
    }

    .info {
        color: $medium-gray;
        background-color: $light-black;
        padding: 5px;
    }
}
 