.input-group,
.btn-group,
.btn {
    height: $form-field-height;
}

.btn,
a {
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn {
    @extend .font-normal;
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 0;
    border: $border;
    background: $light-gray;

    &.btn-default {
        color: $black;

        &:not([disabled]):hover {
            background: $gray;
            color: $black;
        }

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }
    }

    &.btn-help, &.btn-warning {
        $size: 24px;
        .fa {
            color: $lightest-black;
        }
        background-color: $gray;
        line-height: $size - 2px;
        margin: 0 10px;
        padding: 0;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: $size / 2;
        font-weight: bold;

        &:hover {
            background-color: $blue;
            border: $blue;

            .fa {
                color: $white;
                line-height: $size + 2px;
            }
        }
    }

    &.btn-warning {
        .fa {
            color: $white;
        }
        background-color: $red;
        border-color: $red;
        text-indent: -0.5px;

        &:hover {
            background-color: $white;
            border: $white;

            .fa {
                color: $red;
            }
        }
    }

    &.btn-primary {
        &, &:active, &:focus {
            background: $blue;
            color: $white;
            border: 1px solid $blue;
        }

        &:not([disabled]):hover {
            border-color: $blue; /* :focus:active needs this */
            background: $white;
            color: $blue;
        }
    }

    &.btn-link {
        padding: 0;
        border: 0;
        background: transparent;
        outline: 0;
        display: block;
        height: 18px;

        &, &:active, &:focus {
            color: $blue;
        }

        &:not([disabled]):hover {
            text-decoration: underline;
            color: $blue;
        }
    }

    &.btn-danger {
        background: $red;
        border: 1px solid $red;

        &[disabled]:hover,
        &[disabled]:active,
        &[disabled]:focus {
            color: $white;
            background: $red;
        }

        &:hover,
        &:active,
        &:focus {
            color: red;
            background: transparent;
        }
    }

    &.btn-danger-outline {
        border-color: $red;
        background: transparent;
        color: $red;

        &:hover,
        &:active,
        &:focus {
            background: $red;
            color: $white;
        }
    }

    &.btn-cancel, &.btn-cancel:not([href]) {
        margin-left: 10px;
        display: inline-block;
    }

    &.btn-secondary {
        border: $border;
        border-color: $gray;
        color: $light-black;
        background: $white;

        &:not([disabled]):hover {
            border: $border;
            color: $black;
            background: $white;
        }
    }

    & + & {
        margin-left: 5px;
    }
}

// TODO: remove or replace with specific instance (i.e. for the checkbox + action menu)
.input-group {
    height: $form-field-height;

    // TODO: drop after moving to input components
    .input-group-addon {
        background: $light-gray;
        height: 100%;
        padding: 0 8px;
        border-radius: 0;

        .Checkbox {
            padding: 0 !important;
        }
    }

    input {
        margin: 0;
        border: $border;
        border-radius: 0;
        height: 100%;

        &[readonly] {
            background-color: $white;
            width: 200px;
        }
    }

    .input-group-btn {
        height: $form-field-height;
        float: left;
    }
}
