$card-padding: 15px;

.card {
    background: $white;
    border: $border;
    padding: $card-padding;
    position: relative;
    border-radius: 0;
    margin: 0;

    .card-type {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    header {
        margin-bottom: $card-padding;

        &.header-secondary {
            background-color: $light-gray;
            padding: 10px 15px;
            border-bottom: $border;
        }

        .title {
            text-align: center;
            overflow: hidden;
            line-height: $input-height;
            color: $black;
        }

        h1 {
            display: inline-block;
        }
    }
}
