$card-padding: 15px;

.card {
    background: $white;
    border: $border;
    padding: $card-padding;
    position: relative;
    border-radius: 0;
    margin: 0 0 15px 0;

    .card-type {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .card-block {
        padding: 0;

        h3 {
            margin-bottom: 10px;
        }
    }

    & > header {
        margin-bottom: 10px;
    }

    header {
        &.header-secondary {
            background-color: $light-gray;
            padding: 10px 15px;
            border-bottom: $border;
        }

        .title {
            text-align: center;
            overflow: hidden;
            line-height: $form-field-height;
            color: $black;
        }

        h1 {
            display: inline-block;
        }
    }

    .row-label {
        color: $light-black; // $lightest-black
        text-align: right;
    }

    .row:not(:first-child) {
        margin-top: 10px;
    }
}
