.card {
    background: $white;
    border: $border;
    padding: 15px;
    position: relative;
    border-radius: 0;

    &.page-card {
        width: 100%;
        margin-top: 15px;
        padding: 0;
    }

    .card-type {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .card-body {
        padding: 2rem;
    }

    header {
        $padding: $main-padding-tb * 1.5;
        background-color: $light-gray;
        padding: $padding $main-padding-lr;
        border-bottom: $border;
        line-height: 2.2rem;

        .title {
            text-align: center;
            overflow: hidden;
            line-height: $input-height;
            color: $black;
        }
        
        &.tabs {
            padding: $padding $main-padding-lr ($padding / 2);
            border-bottom: 0;
        }

        h1 {
            display: inline-block;
        }

        .linode-status {
            margin-right: 1rem;
        }

        .edit-icon {
            margin-left: 0.75rem;
            font-size: 16px;
            position: relative;
            top: -6px;
        }

        .edit-details {
            font-size: 2.2rem;
            display: inline-block;
            width: 70%;
            position: relative;

            button {
                margin: 0 0.5rem;
            }

            input {
                background: transparent;
                padding: 0;
                border: none;
                border-bottom: $border;
                display: block;
                width: 100%;

                &:focus {
                    outline: none;
                    border-bottom-color: $dark-gray;
                }

                &.has-error {
                    border-bottom-color: $red;
                }
            }

            .alert {
                font-size: $font-size;
                line-height: $font-size * 1.5;

                ul {
                    @extend .list-unstyled;
                }
            }

            .errors {
                position: absolute;
                z-index: 99999;
                // Constant from bootstrap
                width: calc(100% + 1.875rem);
            }
        }
    }

    .react-tabs {
        [role=tablist] {
            background-color: $light-gray;
            padding: 0 $main-padding-lr;
            border-color: $border-gray;
            margin-bottom: 0;
        }

        [role=tab] {
            color: $light-black;
            border-radius: 0;
            padding: 3px 12px 5px 12px;

            &:not(:last-of-type) {
                margin-right: $main-padding-tb;
            }

            &[selected],
            &:hover {
                color: $black;
                border-color: $border-gray;
                background: white;
                border-bottom: 0;
            }

            a {
                color: inherit;
                text-decoration: inherit;
            }
        }

        [role=tabpanel] {
            padding: $main-padding-tb $main-padding-lr;

            h2 {
                margin-bottom: calc(#{$main-padding-tb}/2);
            }
        }

        .react-tabs {
            margin-left: -$main-padding-lr;
            margin-top: -$main-padding-tb;
            width: calc(100% + #{$main-padding-lr * 2});

            [role=tablist] {
                background-color: transparent;
            }

            [role=tabpanel] {
                padding-bottom: 0;
            }


            [role=tab] {
                border: none;
                background: transparent;
                color: $blue;

                &:first-of-type {
                    padding-left: 0;
                }

                /* There must be a bug in scss because when this was [selected]
                 * it duplicated the code in line 36 and this code did not show up. */
                &[aria-selected=true] {
                    color: $black;
                }
            }
        }
    }
}
