.card {
    header {
        background-color: $linode-lightish-gray;
        padding: 2rem;
    }

    .react-tabs {
        [role=tablist] {
            background-color: $linode-lightish-gray;
            padding: 0 2rem;
            border-color: $linode-gray;
        }

        [role=tab] {
            color: $linode-dark-gray;
            border-radius: 0;
            margin-right: 1.5rem;
            padding: 3px 12px;

            &[selected],
            &:hover {
                color: $linode-black;
                border-color: $linode-gray;
                background: white;
                border-bottom: 0;
            }
        }

        [role=tabpanel] {
            padding: 2rem;
        }
    }
}
