.card {
    background: $white;
    border: $border;
    padding: 15px;
    position: relative;
    border-radius: 0;
    margin: 0;

    .card-type {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    header {
        margin-bottom: $main-padding-tb/2;

        &.header-secondary {
            background-color: $light-gray;
            padding: $main-padding-tb $main-padding-lr;
            border-bottom: $border;
        }

        .title {
            text-align: center;
            overflow: hidden;
            line-height: $input-height;
            color: $black;
        }

        h1 {
            display: inline-block;
        }
    }
}
