.distros, .datacenters, .plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.datacenters, .plans {
    padding: $main-padding-tb $main-padding-lr;

    h3 {
        margin-left: 1rem;
    }

    .col-lg-4 {
        padding-left: 0;
    }
}

.distro, .datacenter, .plan {
    $width: 11rem;
    border: $linode-border;
    width: $width;
    margin: 1rem;
    cursor: pointer;

    header {
        border-bottom: $linode-border;
        background-color: $linode-light-gray;
        line-height: inherit;
        padding: inherit;

        .title {
            text-align: center;
            overflow: hidden;
            line-height: $input-height;

            button {
                float: right;
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    &:not(.plan) > div {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:not(.selected) > div:hover {
        background-color: $linode-gray;
    }

    &.selected {
        background-color: $linode-yellow;
    }

    .dropdown-menu {
        border: $linode-border;
        border-radius: 0;
        min-width: $width;
        left: -2px;
    }
}

.plan {
    text-align: center;

    .plan-contents {
        padding: 1rem 0;
    }

    hr {
        width: 80%;
        margin: .5rem auto;
    }
}
