.distributions, .datacenter-group, .plans, .backup-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.distro, .datacenter, .plan, .backup {
    $width: 11rem;
    border: $border;
    margin: 1rem;
    cursor: pointer;
    width: $width;

    &.noDistribution {
        & > div {
            padding: 0 10px;
            font-size: $font-xs-small;
        }
    }

    header {
        margin-bottom: 0;
        border-bottom: $border;
        background-color: $light-gray;
        line-height: inherit;
        padding: inherit;

        .title,
        .dropdown-item {
            text-align: center;
            overflow: hidden;
            line-height: $input-height;
            color: $black;

            &.dropdown-item {
                font-size: $font-normal;
                text-align: left !important;
                font-weight: inherit;
                padding: 0 inherit;
             
                &:first-of-type {
                    margin-left: 0;
                }
            }

            button {
                float: right;
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    &:not(.plan):not(.backup) > div {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:not(.selected) > div:hover {
        background-color: $gray;
    }

    &.selected {
        background-color: $light-blue;
    }

    .dropdown-menu {
        border: $border;
        border-radius: 0;
        min-width: $width;
        left: -2px;
    }
}

.plan {
    text-align: center;

    .plan-contents {
        padding: 1rem 0;
    }

    hr {
        width: 80%;
        margin: .5rem auto;
    }
}
