$header-padding: $grid-gutter-width-base / 2;

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.MiniHeader {
    padding: 0 $header-padding;
    height: $info-nav-height;
    background: $black;
    font-size: $font-xs-small;
    line-height: $info-nav-height;

    &-new {
        color: $black;
        text-transform: uppercase;
        background: $white;
        padding: 1px 4px;
        font-size: $font-xs-small;

        &:hover {
            text-decoration: underline;
        }
    }

    &-github .fa, &-twitter .fa {
        color: $white;
        text-decoration: none;
        padding-left: $header-padding / 2;
    }
}

.MainHeader {
    height: $main-nav-height;
    background: $dark-black;
    padding: 0 $header-padding;

    &-brand, &-search, &-session {
        float: left;
        display: inline-block;
        line-height: $main-nav-height;
        margin-right: $header-padding;
    }

    &-logo {
        font-size: 35px; /* Special font-size case */
        line-height: 50px;
        padding-right: $header-padding / 2;
    }

    &-title {
        color: $dark-gray;
        display: inline-block;
        vertical-align: top;
        line-height: $main-nav-height;
        font-size: 18px; /* Special font-size case */
    }

    &-search {
        $margin-tb: ($main-nav-height - $input-height) / 2;
        height: $input-height;
        margin: 0 $header-padding 0 0;

        input,
        input:focus {
            background: $black;
            width: 250px;
            border: $border;
            border-color: black;
            border-radius: 0;
            outline: 0;
            color: #ccc;
        }
    }

    &-session {
        padding: 0 15px;
        margin-right: -15px;
        position: relative; /* Give the badge something to relate to */

        /* Disable double click highlight */
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;

        &.active,
        &:active,
        &:hover,
        &:focus {
            $hover-bg: #3c3c3c;
            background: $hover-bg;
            cursor: pointer;
            cursor: hand;

            .MainHeader-badge {
                border: 4px solid $hover-bg;
            }
        }
    }

    &-username {
        padding-right: $header-padding / 2;
        color: $white;
    }

    &-badge {
        $header-badge-height: 30px;
        @extend .badge;
        background: $red;
        border: 4px solid $dark-black;
        border-radius: 40px;
        height: $header-badge-height;
        min-width: $header-badge-height;
        line-height: 22px;
        position: absolute;
        right: 0;
        top: 2px;
    }
}
