$header-padding: $grid-gutter-width-base / 2;

.MiniHeader {
    padding: 0 $header-padding;
    height: $info-nav-height;
    background: $black;
    font-size: $font-xs-small;

    &-new {
        color: $black;
        text-transform: uppercase;
        background: $white;
        padding: 1px 4px;
        font-size: $font-xs-small;

        &:hover {
            text-decoration: underline;
        }
    }

    &-github .fa, &-twitter .fa {
        color: $white;
        text-decoration: none;
        padding-left: $header-padding / 2;
    }
}

.MainHeader {
    height: $main-nav-height;
    background: #333;
    border-radius: 0;
    padding: 0;

    &-brand,
    &-brand > a,
    &-brand > a > span {
        height: 100%;
    }

    &-brand {
        //max-width: 200px;
    }

    &-brand > a,
    &-session {
        padding: 14px $header-padding 7px $header-padding;
    }

    &-search {
        padding: 14px $header-padding 7px $header-padding;
    }

    &-brand > a {
        display: block;
    }

    &-brand > a > img {
        margin-top: -4px;
    }

    &-brand > a > span {
        padding: 2px 6px;
    }

    //&-brand, &-search, &-session {
    //    float: left;
    //    display: inline-block;
    //    margin-right: $header-padding;
    //}

    //&-logo {
    //    font-size: 35px; /* Special font-size case */
    //    padding-right: $header-padding / 2;
    //}

    &-title {
        color: $dark-gray;
        display: inline-block;
        vertical-align: top;
        font-size: 18px; /* Special font-size case */
    }

    &-search {
        input,
        input:focus {
            background: $black;
            width: 250px;
            border: $border;
            border-color: black;
            border-radius: 2px;
            outline: 0;
            color: #ccc;
        }
    }

    &-session {
        /* Disable double click highlight */
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;

        &.active,
        &:active,
        &:hover,
        &:focus {
            background: #3c3c3c;
            cursor: pointer;
            cursor: hand;
        }
    }
    
    &-username {
        padding-right: $header-padding / 2;
        color: $white;
    }

    &-badge {
        display: inline-block;
        $height: 24px;
        position: absolute;
        top: $height / 4;
        right: $height / 4;
        font-size: $font-xs-small;
        background: $red;
        color: $white;
        height: $height;
        text-align: center;
        border-radius: 50%;

        /* These settings are so that it looks circular generally and decent in other cases. */
        min-width: $height;
        padding: 0 3px;
    }
}
