.modal-overlay {
    display: none;
    z-index: 9999;
    position: absolute;
    top: $nav-height - 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $transparent;

    &.open {
        display: initial;
    }
}

.modal {
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: $main-padding-tb;
    box-shadow: $box-shadow;
    background: $white;

    .open & {
        display: block;
        bottom: auto;
    }
}

.modal-header {
    background: $gray;
    padding: $main-padding-tb $main-padding-lr;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: $main-padding-tb $main-padding-lr;
}

.modal-footer {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .btn:not(:first-child) {
        margin-left: 0.5rem;
    }
}
