.ModalOverlay {
    display: none;
    z-index: 9999;
    position: fixed;
    top: $nav-height - 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $transparent;

    &--visible {
        display: initial;
    }
}

.Modal {
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: $main-padding-tb;
    box-shadow: $box-shadow;
    background: $white;
    display: block;

    &-header {
        background: $gray;
        padding: $main-padding-tb * 2 $main-padding-lr;
        border-bottom: 1px solid #ccc;

        h3 {
            position: relative;
            top: 1px;
        }
    }

    &-body {
        padding: $main-padding-tb $main-padding-lr;
    }

    &-footer {
        text-align: right;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        border-top: 0;

        .btn:not(:first-child) {
            margin-left: 5px;
        }
    }

    .Input, .Select {
        display: block;

        .form-control {
            width: 100%;
        }
    }
}
