.Notification {
    padding: 10px 15px;
    border-bottom: $border;
    cursor: pointer;
    cursor: hand;

    &--unread {
        background: white;
    }

    &--unread &-subject {
        font-weight: 600;
    }

    &--unread &-header {
        padding: 0;
    }

    &-header {
        // TODO: remove after updating generic <header> css
        background: initial !important;
        border: 0 !important;
        padding: 0;
    }

    &-time {
        color: $light-black;
        font-size: $font-xs-small;
        vertical-align: middle;
    }

    &-subject {
        display: block;
        color: $black;

        &:hover {
            color: $black;
        }
    }
}

.Notifications {
    $notifications-width: 350px;

    &--open & {
        &-overlay {
            display: inline;
        }

        &-body {
            height: calc(100% - #{$nav-height});
        }
    }

    &-overlay {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: $nav-height - 1;
        background: $transparent;
        z-index: 1000;
    }

    &-header {
        background: $white;
        border-bottom: $border;
        padding: 10px 15px;

        a {
            line-height: $input-height;
        }

        .fa {
            padding-left: 5px;
            color: $blue;
        }
    }

    &-body {
        $speed: .3s;

        -webkit-transition: all $speed ease-in;
        -moz-transition: all $speed ease-in;
        -o-transition: all $speed ease-in;
        -ms-transition: all $speed ease-in;
        position: fixed;
        top: $nav-height - 1;
        height: 0;
        right: 0;
        width: $notifications-width;
        max-width: 100%;
        background: $gray;
        border-left: $border;
        z-index: 1001;
        overflow-y: auto;
        font-size: $font-xs-normal;
    }

    &-end {
        padding: 15px;
        color: $light-black;
    }
}
