.NotificationList {
    display: none;
    $notifications-width: 350px;

    &--open {
        display: block;
        &-body {
            height: calc(100% - #{$nav-height});
        }
    }

    &-body {
        background-color: $body-bg;
        border-left: $border;
        // TODO: create a box-shadow mixin
        box-shadow: 2px 2px 4px 2px $dark-gray;
        font-size: $font-xs-normal;
        max-height: calc(#{$main-height} - 100px);
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: $nav-height;
        width: $notifications-width;
        z-index: 1001;
    }

    &-listItem {
        border-bottom: $border;
        color: $black;
        cursor: pointer;
        cursor: hand;
        display: block;
        padding: 10px 15px;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            text-decoration: none;
            outline: none;
        }

        &:hover,
        &--read{
            background-color: $gray;
        }

        &-time {
            display: block;
            margin-top: -1px;
        }
    }
}
