.NotificationList {
    display: none;
    $notifications-width: 350px;

    &--open {
        display: block;
        position: fixed;
        height: 100%;
        top: $nav-height;
        z-index: 1001;
        left: calc(#{$grid-max-width} + calc(calc(100% - #{$grid-max-width}) / 2));

        @media (max-width: #{$grid-max-width}) {
            left: 100%;
        }

        &-body {
            height: calc(100% - #{$nav-height});
        }
    }

    &-body,
    &-body:hover {
        background-color: $body-bg;
    }

    &-body {
        border-left: $border;
        // TODO: create a box-shadow mixin
        box-shadow: 0px 2px 3px 1px $dark-gray;
        max-height: calc(#{$main-height} - 100px);
        overflow-y: auto;
        position: absolute;
        right: 0;
        width: $notifications-width;
    }

    &-listItem {
        border-bottom: $border;
        color: $black;
        cursor: pointer;
        cursor: hand;
        display: block;
        padding: 10px 15px;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            text-decoration: none;
            outline: none;
        }

        &:hover,
        &--read{
            background-color: $gray;
        }

        &-time {
            display: block;
            margin-top: -1px;
        }
    }

    &-end {
        padding: 15px 0;
    }
}
