.Notifications {
    height: 100%;
    padding: 18px 14px;
    position: relative;
    width: 48px;

    &:hover {
        background: $hover-bg;
        cursor: pointer;
    }

    i {
        @extend .font-large;
        color: $white;
    }
}

.NotificationList {
    display: none;
    $notifications-width: 350px;

    &--open {
        display: block;

        &-body {
            height: calc(100% - #{$nav-height});
        }
    }

    &-body,
    &-body:hover {
        background-color: $body-bg;
    }

    &-body {
        border-left: $border;
        // TODO: create a box-shadow mixin
        box-shadow: 2px 2px 4px 2px $dark-gray;
        max-height: calc(#{$main-height} - 100px);
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: $nav-height;
        width: $notifications-width;
        // TODO: add z-index levels to variables
        z-index: 1001;
    }

    &-listItem {
        border-bottom: $border;
        color: $black;
        cursor: pointer;
        cursor: hand;
        display: block;
        padding: 10px 15px;

        &:hover,
        &:active,
        &:focus {
            color: $black;
            text-decoration: none;
            outline: none;
        }

        &:hover,
        &--read{
            background-color: $gray;
        }

        &-time {
            display: block;
            margin-top: -1px;
        }
    }

    &-end {
        padding: 15px 0;
    }
}
