.PrimaryTable {
    td {
        vertical-align: middle;
        line-height: initial;
    }

    &-row {
        height: 65px;
        border: $border;
        margin: 0 15px;

        &--groupLabel {
            @extend .font-large;
            color: $light-black;
            border: 0;
            height: auto;

            td {
                padding-left: 0 !important;
                padding-top: 15px;
                padding-bottom: 5px;
                background: $light-gray;
            }
        }

        &--selected {
            @extend .selected;
        }
    }

    &-rowSelector {
        padding-right: 10px;
    }

    &-rowLabel, &-rowLabel:hover {
        @extend .font-large;
        color: $black;
    }

    &-rowOptions {
        padding-top: 0;
    }
}
