.Zone:not(:first-of-type) {
    margin-top: 15px;
}

.region-group, .plan-group, .backup-group {
    &:not(:last-of-type) {
        margin-bottom: 15px;
    }

    h3 {
        margin-bottom: 5px;
    }
}

.region, .plan, .backup {
    $width: 225px;
    border: $border;
    cursor: pointer;
    height: 150px;
    width: $width;

    header {
        margin-bottom: 0;
        border-bottom: $border;
        background-color: $light-gray;
        line-height: inherit;
        padding: inherit;

        .title,
        .dropdown-item {
            text-align: center;
            overflow: hidden;
            line-height: $form-field-height;
            color: $black;

            &.dropdown-item {
                text-align: left !important;
                font-weight: inherit;
                padding: 0 inherit;
             
                &:first-of-type {
                    margin-left: 0;
                }
            }

            button {
                float: right;
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
        }
    }

    .option-contents {
        padding: 10px 0;
        height: 118px; // TODO: define default sizes for card style options
    }

    &:not(.plan):not(.backup) > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:not(.selected) > div:hover {
        background-color: $gray;
    }

    &.selected {
        background-color: $gray;
    }
}

.plan {
    text-align: center;

    hr {
        width: 80%;
        margin: 5px auto;
    }
}
