.SecondaryTable {
    thead, th {
        background: transparent;
        border: 0;
    }

    th {
        @include label();
    }

    th:last-of-type, td:last-of-type {
        border: 0;
        text-align: right;
    }

    button {
        position: relative;
        top: -1px;
    }
}
