.SessionMenu {
    display: none;

    &:hover {
        background: $nav-hover-background-color;
    }

    &--open {
        display: block;
        position: fixed;
        top: $nav-height;
        z-index: 1001;
        left: calc(#{$grid-max-width} + calc(calc(100% - #{$grid-max-width}) / 2));

        @media (max-width: #{$grid-max-width}) {
            left: 100%;
        }
    }

    &-body,
    &-body:hover {
        background-color: $body-bg;
    }

    &-body {
        padding: 0;
        border-left: $border;
        // TODO: create a box-shadow mixin
        box-shadow: 0px 2px 3px 1px $dark-gray;
        overflow-y: auto;
        position: absolute;
        right: 0;
        width: 250px;
    }

    &-header {
        @extend .list-unstyled;
        @extend .font-xs;

        padding: 5px 30px;
        padding-bottom: 0;
        color: $lightest-black;
        text-transform: uppercase;
    }

    &-item {
        @extend .list-unstyled;

        a {
            transition: 0;
            display: block;
            line-height: initial;
            padding: 10px 30px;
            color: $black;

            &:hover {
                background: $gray;
                text-decoration: none;
            }
        }
    }
}
