.status-dropdown {
    position: relative;

    span {
        height: $input-height;
        line-height: $input-height;
        padding: 0 $input-padding;
    }

    .dropdown-toggle {
        background: transparent;
        padding: 0;
        border: 0 !important;

        &:active,
        &:hover,
        &:focus,
        &:focus:active {
            background: transparent;
        }
    }

    &.status-dropdown-border {
        border: $border;
    }

    .dropdown-item {
        border: $border;
    }
}
