.status-dropdown {
    $input-height: 30px;
    position: relative;
    border: $border;
    width: 92px;

    span {
        position: relative;
        top: -1px;
        height: $input-height;
        line-height: $input-height;
        padding-right: 10px;
        font-size: $font-xs-normal;
        color: #777;
    }
    
    .btn.dropdown-toggle {
        background: transparent;
        padding: 0;
        border: 0 !important;
        height: $input-height !important;
        line-height: $input-height !important;

        .fa {
            font-size: $font-xs-normal !important;
        }

        /* Hide default bootstrap dropdown icon */
        &:after {
            display: none;
        }

        &:active,
        &:hover,
        &:focus,
        &:focus:active {
            background: transparent;
        }
    }

    .dropdown-menu {
        right: -2px;
        left: initial;
        margin-top: 0;
    }

    .dropdown-item {
        border: $border;
    }

    .progress-cont, .progress-cont-long {
        width: 92px;
        height: 20px;
        position: relative;

        &.progress-cont-long {
            width: 400px;
        }
    }

    .progress {
        position: absolute;
        top: -1px;
        left: -1px;
        background-color: $green;
        height: 22px;
    }

}
