*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: normal;
  font-optical-sizing: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 !important;
  font-family: 'Nunito Sans', sans-serif;
  overscroll-behavior: none;

  strong, b {
    font-weight: 700;
  }
}

body.searchOverlay #main-content {
  opacity: 0.5;
}

@media screen and (min-width: 960px) {
  body {
    /* fix for scrollbar compensation */
    width: 100vw;
    overflow-x: hidden;
  }
}

@media print {
  /** Setting margins */
  @page {
    margin: 1cm;
  }

  body {
    font-size: 13pt !important;
    line-height: 1.3;
    background: #fff !important;
    color: #000 !important;
  }

  #root {
    width: 100%;
    margin: 0;
    float: none;
  }

  h1 {
    font-size: 24pt;
    color: #000 !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 14pt;
    margin-top: 25px;
    color: #000 !important;
  }

  p {
    color: #000 !important;
  }

  thead {
    display: table-header-group !important;
    border-bottom: 1px solid #f4f4f4 !important;
  }

  th {
    color: #000 !important;
    border-bottom: 1px solid #f4f4f4 !important;
    background-color: transparent !important;
  }

  tr {
    display: table-row !important;
    background-color: transparent !important;
  }

  tbody > tr > td {
    display: table-cell !important;
    min-height: auto;
    padding: 5px !important;
    border-bottom: 1px solid #f4f4f4 !important;
    color: #000 !important;
    background-color: #fff !important;
  }

  td > span:last-child {
    text-align: left;
    word-break: normal;
    margin-left: 0;
  }
}

#root {
  height: 100%;
}

#main-content {
  max-width: 1280px;
}

.label-visually-hidden {
  margin-right: 0 !important;
}

.content-wrapper > .second-element:first-child {
  margin-top: 0;
}

.content-wrapper > .second-element {
  margin-top: 24px;
}

.visually-hidden,
.label-visually-hidden span:last-child {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.tac {
  text-align: center;
}

.dif {
  display: inline-flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #2575d0;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.h-u:hover {
  text-decoration: underline;
}

.secondaryLink:hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.nonMUI-list {
  margin-top: 16px;
  margin-bottom: 16px;
}

.nonMUI-list li {
  padding: 4px 0;
  display: list-item;
}

.block {
  display: block;
}

a.blue {
  transition: color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

a.blue:visited {
  color: #3683dc;
}

a.blue:hover {
  color: #4d99f1;
}

a.blue:active {
  color: #2466b3;
}

a.black {
  color: #32363c;
}

a.black:visited {
  color: #32363c;
}

a.black:not(.nu):active {
  text-decoration: underline;
}

:focus {
  outline: 1px dotted #999;
}

/* Scrollbars (webkit only) */
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: #3683DC;
} */

/* Reusable Classes */
.mlMain {
  width: 100%;
  flex-basis: 100%;
}
.mlSidebar {
  width: 100%;
  flex-basis: 100%;
  margin-top: 24px !important;
}

.flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 960px) {
  .mlMain {
    max-width: 70%;
    flex-basis: 70%;
  }
  .mlSidebar {
    position: sticky;
    top: 0;
    align-self: flex-start;
    max-width: 30%;
    padding: 8px !important;
    margin-top: 0 !important;
  }
}
@media (min-width: 1280px) {
  .mlMain {
    max-width: 78.8%;
    flex-basis: 78.8%;
  }
  .mlSidebar {
    max-width: 21.2%;
    padding: 8px 14px !important;
  }
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    background-color: hsla(40, 100%, 55%, 0);
  }
}

.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.skip-link {
  display: flex;
  justify-content: center;
  background: #3683dc;
  color: white;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  padding: 8px;
  position: absolute;
  top: -40px;
  width: 190px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

/*
Removes focus styles for mouse users.
See: https://blog.chromium.org/2020/09/giving-users-and-developers-more.html
*/
:focus:not(:focus-visible) {
  outline: none;
}
