form {
  h3 {
    padding: 10px 0;
  }
}

.col-form-label,
.form-control {
  @extend .font-normal;
  height: $form-field-height;
  padding: $form-field-padding;
}

.col-form-label {
  color: $light-black; // $lightest-black
  text-align: right;
}

.form-control {
    border-radius: 0;
    color: $black;

    &:focus {
        color: $black;
    }

}

select.form-control:not([size]):not([multiple]) {
  height: $form-field-height;
}

.form-control {
  width: 225px;
}

.form-control.input-md {
  width: 275px;
}

.form-control.input-lg {
  width: 325px;
}

input[type="number"].form-control {
  width: 125px;
}

.form-control-feedback {
    color: $red;
    margin-top: 0;
    margin-left: 8px;

    &--block {
        display: block;
        margin-left: 0;
    }
}

.form-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group .btn-cancel {
  margin-left: 10px;
}

// TODO: move, apply appropriate fixes
.Nodebalancer-create {
    padding: 15px 0;

    .static-plan {
        padding: 6px 8px 6px 0;
    }
}

.DNSManager-create {
    h1 {
        padding: 15px 0 0 0;
    }
}
