form {
  h3 {
    padding: 10px 0;
  }
}

// TOOD: remove input-container
.input-container {
    display: inline-block;

    &.input-group {
        .btn {
            position: relative;
            left: -1px;
        }
    }
}

.form-control {
    max-width: 300px;
    width: auto;
    font-size: $font-normal;
    border-radius: 2px;
    color: $black;
    display: inline-block;

    &:focus {
        color: $black;
    }
}

.form-control-feedback {
    color: $red;
    margin-top: 0;
    margin-left: 15px;
    line-height: $input-height;
    display: inline-block;

    &--block {
        display: block;
        margin-left: 0;
    }
}

.form-group {
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-group .btn-cancel {
  margin-left: 10px;
}

.label-col {
    color: $lightest-black;
    text-align: right;
    line-height: $input-height;
    white-space: nowrap;

    legend {
        font-size: initial;
    }
}

.input-line-height {
    line-height: $input-height;
}

.content-col {
    li a {
        text-decoration: none;
    }

    img {
        margin-left: 0.5rem;
    }
}
