@mixin checkbox() {
    @extends .checkbox;

    display: inline-block;
    line-height: $input-height;

    &-input {
        height: $input-height / 2;
        width: $input-height / 2;
    }

    &-label {
        display: inline-block;
        line-height: $input-height;
        padding: 0 10px;
    }
}
