.PasswordInput {
  &-strength {
    display: block;
      margin-bottom: 14px;
      width: 300px;
      height: 10px;

      span {
          display: inline-block;
          width: 45px;
          height: 100%;
          border: 1px solid $gray;
      }

      &--1 {
          span:nth-child(1) {
              background: $dark-gray;
          }
      }

      &--2 {
          span:nth-child(1), span:nth-child(2) {
              background: $red;
          }
      }

      &--3 {
          span:nth-child(1), span:nth-child(2), span:nth-child(3) {
              background: $dark-yellow;
          }
      }

      &--4 span {
          background: $green;
      }
  }
}
