.RadioSelectCombo {
    + .RadioSelectCombo,
    + .RadioInputCombo {
        margin-top: 10px;
    }

    .Radio,
    .Select {
        display: inline-block;
    }

    .Select {
        margin-left: 5px;
    }

    .form-control {
        display: inline;
    }
}
