.RadioInputCombo {
    display: inline-block;

    + .RadioSelectCombo,
    + .RadioInputCombo {
        margin-top: 10px;
    }

    .Radio,
    .Input {
        display: inline-block;
    }

    .Input {
        margin-left: 8px;
    }

    .form-control {
        display: inline;
    }
}
