.RadioInputCombo {
    + .RadioSelectCombo,
    + .RadioInputCombo {
        margin-top: 10px;
    }

    .Radio,
    .Input {
        display: inline-block;
    }

    .Input {
        margin-left: 5px;
    }
}
