.Styleguide {
  &-section {
    padding: 0 20px;
    margin-bottom: 24px;
    width: 100%;
  }

  &-section > h2,
  &-section > h3 {
    margin-bottom: 10px;
  }
}

.Styleguide-section > h2 {
  padding: 10px 20px;
}

.Styleguide-sub-section {
  margin-bottom: 20px;
  padding: 5px 0;
}

.Styleguide-sub-section h3 {
  padding: 10px 0;
}