.SubTabs {
    @extend .Tabs;

    .Tabs & {
        margin-top: -10px;
    }

    [role="tablist"] {
        padding: 0;
        background: transparent;
    }

    [role="tab"] {
        border: 0; // reset from above
        border-bottom: 3px solid transparent;

        &:hover,
        &[aria-selected="true"] {
            border: 0;
            border-bottom: 3px solid $blue;
            background: transparent;
        }
    }

    &-container {
        padding: 15px 0;        
    }
}
