.TableCell {
    overflow: scroll;
}

// default checkbox rows with labels to use font-large for the label
.CheckboxCell + .TableCell.LinkCell,
.CheckboxCell + .TableCell.LabelCell {
    @extend .font-large;
}

.LinkCell.TooltipEnabled .TableCell-content a,
.LabelCell.TooltipEnabled .TableCell-content span {
    @include truncate();
    display: inline-block;
    vertical-align: bottom;
    max-width: 100%;
}
