.Table {
    thead, th {
        background: transparent;
        border: 0;
    }

    th {
        @include label();
    }

    button {
        position: relative;
        top: -1px;
    }

    td {
        vertical-align: middle;
        line-height: initial;
    }

    &-row {
        height: 65px;
        border: $border;
        margin: 0 15px;

        &--selected {
            @extend .selected;
        }
    }

    &-rowSelector {
        padding-right: 10px;
    }

    &-rowOptions {
        padding-top: 0;
    }

    &--secondary {
        .Table-row {
            height: 38px;
        }
    }
}

// TODO: move this somewhere else
.Group {
    margin-top: 15px;

    &-label {
        @extend .font-large;
        color: $light-black;
        padding: 5px 0;
    }
}

.CheckboxCell {
    width: 45px;
}

.RowLabelCell {
    @extend .font-large;
    min-width: 200px;
}

.ButtonCell {
    width: 75px;

    button {
        float: right;
    }
}


//// TODO: make component and BEM-ify
//table {
//    width: 100%;
//
//    th:first-of-type,
//    td:first-of-type {
//        padding-left: 15px;
//    }
//
//    th:last-of-type,
//    td:last-of-type {
//        padding-right: 15px;
//    }
//
//    td:not(:first-of-type) {
//        white-space: nowrap;
//    }
//
//    thead {
//        background: $light-gray;
//        border: $border;
//        border-bottom: 0;
//        height: 35px;
//        line-height: 35px;
//
//        th {
//            font-weight: normal;
//        }
//
//        th:last-of-type {
//            border-right: $border;
//        }
//
//        &.clear-thead {
//            background-color: transparent;
//            border: 0;
//            th {
//                border: 0;
//                border-top: 0;
//                border-bottom: 0;
//                padding-top: 0;
//            }
//            th:last-of-type {
//                border-right: 0;
//            }
//        }
//    }
//
//    tbody {
//        tr {
//            height: 35px;
//            line-height: 35px;
//            border: $border;
//            margin: 0 15px;
//
//            &:not(.selected) {
//                background: $white;
//            }
//        }
//        &.hard-border {
//            tr {
//                background: $light-gray;
//
//                td {
//                    border: 0;
//                    padding: 0 15px;
//                    line-height: 35px;
//                }
//            }
//        }
//    }
//}