form {
    h3 {
        padding: 10px 0;
    }
}

.col-form-label,
.form-control,
.form-control-feedback {
    @extend .font-normal;
    padding: $form-field-padding;
}

.col-form-label {
    @extend .text-sm-right;

    color: $light-black;
}

.form-control {
    border-radius: 0;
    color: $black;
    display: inline-block;

    &:focus {
        color: $black;
    }

}

.modal-description {
    display: block;
    padding: 3px 0px;
}

.Checkbox label,
.Radio {
    &:hover {
        cursor: pointer;
        cursor: hand;
    }
}

input.form-control {
    height: $form-field-height;
}

input.form-control,
.Select {
    width: 225px;
    max-width: 100%;
}

.input-md {
    input.form-control,
    .Select {
        max-width: 100%;
        width: 350px;
    }
}

.input-lg {
    input.form-control,
    .Select {
        width: 600px;
        max-width: 100%;
    }
}

.col-md-4,
.col-md-3,
.col-lg-4,
.col-lg-3  {
    .Input,
    .Select,
    .Textarea {
        display: block;
    }

    input.form-control,
    select,
    textarea.form-control {
        width: 100%;
    }
}

input[type="number"].form-control {
    width: 125px;
    max-width: 100%;
}

textarea.form-control {
    border: $border;
    max-width: 100%;
    min-height: 100px;
    width: 400px;
    outline: none;
    padding: $form-field-padding;
    resize: both;

    &.textarea-md {
        max-width: 100%;
        width: 600px;
        min-height: 200px;
    }

    &.textarea-lg {
        min-height: 200px;
        width: 100%;
    }
}

.form-group {
    @include placeholder-full();

    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
