.FormGroupError {
    @extend .form-control-feedback;
    @extend .list-unstyled;
    @extend .font-xs;

    display: inline-block;
    margin-top: 0;

    &--block {
        display: block;
        margin-left: 0;
        padding-left: 0;
    }
}
