form {
  h3 {
    padding: 10px 0;
  }
}

.col-form-label,
.form-control,
.form-control-feedback {
  @extend .font-normal;
  padding: $form-field-padding;
}

.col-form-label {
  color: $light-black; // $lightest-black
  text-align: right;
}

.form-control {
    border-radius: 0;
    color: $black;
    display: inline-block;

    &:focus {
        color: $black;
    }

}

.modal-description {
    display: block;
    padding: 3px 0px;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    cursor: pointer;
}

select.form-control:not([size]):not([multiple]) {
  height: $form-field-height;
}

input.form-control,
select.form-control {
    width: 225px;
    max-width: 100%;
}

.input-md {
    input.form-control,
    select.form-control.input-md {
        width: 275px;
    }
}

.input-lg {
    input.form-control,
    select.form-control {
        min-width: 600px;
    }
}

input[type="number"].form-control {
  width: 125px;
}

textarea {
    border: $border;
    max-width: 100%;
    min-height: 100px;
    min-width: 400px;
    outline: none;
    padding: $form-field-padding;
    resize: both;

    &.textarea-md {
        min-width: 600px;
        min-height: 200px;
    }

    &.textarea-lg {
        min-height: 200px;
        width: 100%;
    }
}

.form-group {
    @include placeholder-full();

    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
