@mixin checkbox() {
    @extends .checkbox;

    line-height: $form-field-height;

    &-input {
        height: 16px;
        width: 16px;
        position: relative;
        top: 3px;
    }

    &-label {
        line-height: $form-field-height;
        padding: 0 10px;
    }
}
