.PasswordInput {
  &-strength {
      display: block;
      height: 20px;
      width: 225px;

      span {
          display: inline-block;
          width: 56px;
          height: 10px;
          border: 1px solid $gray;
      }

      &--1 {
          span:nth-child(1) {
              background: $dark-gray;
          }
      }

      &--2 {
          span:nth-child(1), span:nth-child(2) {
              background: $red;
          }
      }

      &--3 {
          span:nth-child(1), span:nth-child(2), span:nth-child(3) {
              background: $dark-yellow;
          }
      }

      &--4 span {
          background: $green;
      }
  }
}
