.PasswordInput {
  &-strength {
      display: block;
      height: 20px;
      width: 225px;

      span {
          display: inline-block;
          width: 56px;
          height: 10px;

          border: $border;
          &:not(:last-of-type) {
              border-right: 0;
          }
      }

      &--1 {
          span:nth-child(1) {
              background: $dark-gray;
              border-color: $dark-gray;
          }
      }

      &--2 {
          span:nth-child(1), span:nth-child(2) {
              background: $red;
              border-color: $red;
          }
      }

      &--3 {
          span:nth-child(1), span:nth-child(2), span:nth-child(3) {
              background: $dark-yellow;
              border-color: $dark-yellow;
          }
      }

      &--4 span {
          background: $green;
          border-color: $green;
      }
  }
}
