.Select {
    display: inline-block;

    &-mult-value-wrapper, &--native {
        height: $form-field-height !important;

        &-control, &-value, &-input {
            height: $form-field-height;
        }
    }

    &-label {
        display: inline;
    }
}
