.Select {
    display: inline-block;

    &-mult-value-wrapper {
        height: $form-field-height;

        &-control, &-value, &-input {
            height: $form-field-height;
        }
    }

    &-label {
        display: inline;
    }
}
