body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.tac {
  text-align: center;
}

.dif {
  display: inline-flex;
}

.footer-logo {
  opacity: .5;
}