body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.tac {
  text-align: center;
}

.dif {
  display: inline-flex;
}

a {
  text-decoration: none;
  color: #3B85D9;
}

/* Reusable Classes */
.mlMain {
  width: 100%;
  flex-basis: 100%;
}
.mlSidebar {
  width: 100%;
  flex-basis: 100%
}
@media (min-width: 1280px) {
  .mlMain {
    max-width: 78.8%;
    flex-basis: 78.8%
  }
  .mlSidebar {
    max-width: 21.2%;
    max-width: 21.2%;
    padding-left: 24px !important;
  }
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
