noscript {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    text-align: center;
}

noscript div {
    background-color:#fefefe;
    border: 1px solid #ccc;
    max-width: 50%;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
}

noscript p {
    margin-bottom: 10px;
    margin-top: 10px;
}
