name: Run Cypress E2E Tests
env:
  OAUTH_1: ${{ secrets.MANAGER_OAUTH_1 }}
  OAUTH_2: ${{ secrets.MANAGER_OAUTH_2 }}
  OAUTH_3: ${{ secrets.MANAGER_OAUTH_3 }}
  OAUTH_4: ${{ secrets.MANAGER_OAUTH_4 }}
  CLIENT_ID: ${{ secrets.CLIENT_ID }}
on:
  push:
    branches:
      - M3-4577-initial-e2e-actions-workflow
jobs:
  run-cypress-e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container: ['CONTAINER_1', 'CONTAINER_2', 'CONTAINER_3', 'CONTAINER_4']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - run: |
          echo "CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }}" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
      - run: |
          echo "MANAGER_OAUTH=$OAUTH_1" >> ./packages/manager/.env
        if: matrix['container'] == 'CONTAINER_1'
      - run: |
          echo "MANAGER_OAUTH=$OAUTH_2" >> ./packages/manager/.env
        if: matrix['container'] == 'CONTAINER_2'
      - run: |
          echo "MANAGER_OAUTH=$OAUTH_3" >> ./packages/manager/.env
        if: matrix['container'] == 'CONTAINER_3'
      - run: |
          echo "MANAGER_OAUTH=$OAUTH_4" >> ./packages/manager/.env
        if: matrix['container'] == 'CONTAINER_4'
      - run: |      
          echo "REACT_APP_LOGIN_ROOT=https://login.linode.com" >> ./packages/manager/.env
          echo "REACT_APP_API_ROOT=https://api.linode.com/v4" >> ./packages/manager/.env
          echo "REACT_APP_APP_ROOT=http://localhost:3000" >> ./packages/manager/.env
          echo "REACT_APP_LAUNCH_DARKLY_ID=${{ secrets.REACT_APP_LAUNCH_DARKLY_ID }}" >> ./packages/manager/.env
          echo "REACT_APP_CLIENT_ID=$CLIENT_ID" >> ./packages/manager/.env
          yarn up &
      - name: Run tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: packages/manager
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 1000
          install: false
          browser: chrome
          headless: true
          record: true
          parallel: true
