name: E2E Tests
env:
  USER_1: ${{ secrets.MANAGER_OAUTH_1 }}
  USER_2: ${{ secrets.MANAGER_OAUTH_2 }}
  USER_3: ${{ secrets.MANAGER_OAUTH_3 }}
  USER_4: ${{ secrets.MANAGER_OAUTH_4 }}
  CLIENT_ID: ${{ secrets.REACT_APP_CLIENT_ID }}
on:
  schedule:
    - cron: '0 13 * * 1-5'
  pull_request_target:
    paths:
    - '**/cypress/**'
    - '**/e2e.yml'

jobs:
  run-cypress-e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        user: ['USER_1', 'USER_2', 'USER_3', 'USER_4']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - run: |
          echo "CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }}" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
        # personal account
      - run: echo "MANAGER_OAUTH=$USER_1" >> ./packages/manager/.env
        if: matrix['user'] == 'USER_1'
        # prod-test-001
      - run: echo "MANAGER_OAUTH=$USER_2" >> ./packages/manager/.env
        if: matrix['user'] == 'USER_2'
        # prod-test-002
      - run: echo "MANAGER_OAUTH=$USER_3" >> ./packages/manager/.env
        if: matrix['user'] == 'USER_3'
        # prod-test-008
      - run: echo "MANAGER_OAUTH=$USER_4" >> ./packages/manager/.env
        if: matrix['user'] == 'USER_4'
      - run: |
          echo "REACT_APP_LAUNCH_DARKLY_ID=${{ secrets.REACT_APP_LAUNCH_DARKLY_ID }}" >> ./packages/manager/.env
          echo "REACT_APP_CLIENT_ID=$CLIENT_ID" >> ./packages/manager/.env
          echo "REACT_APP_LOGIN_ROOT=${{ secrets.REACT_APP_LOGIN_ROOT }}" >> ./packages/manager/.env
          echo "REACT_APP_API_ROOT=${{ secrets.REACT_APP_API_ROOT }}" >> ./packages/manager/.env
          echo "REACT_APP_APP_ROOT=${{ secrets.REACT_APP_APP_ROOT }}" >> ./packages/manager/.env
          yarn up &
      - name: Run tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: packages/manager
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 1000
          install: false
          browser: chrome
          headless: true
          record: true
          parallel: true
